<div class="custom-expansion-panel !shadow-none !w-full">
	<div
		class="header !w-full cursor-pointer"
		(click)="isExpanded.set(!isExpanded())"
	>
		<div class="flex justify-between items-center">
			<div class="flex flex-row items-center overflow-hidden">
				<div
					class="flex items-center transition-all duration-300 ease-in-out"
					[class.w-0]="isExpanded()"
					[class.opacity-0]="isExpanded()"
					[class.scale-95]="isExpanded()"
				>
					@for (contributor of contributors().slice(0, 3); track
					contributor.user.id) {
					<li class="-ml-2.5 first:ml-0 list-none">
						<app-avatar
							[src]="contributor.user.imageUrl"
							[alt]="contributor.user.username"
							[class]="'transition-transform duration-300 w-12 h-12'"
						></app-avatar>
					</li>
					} @if (contributors().length > 3) {
					<span class="ml-2 text-[#c8c7bf] text-sm whitespace-nowrap"
						>+{{ contributors().length - 3 }}</span
					>
					}
					<div class="w-4 bg-red-300"></div>
				</div>
				<div class="flex flex-col items-start justify-start min-w-0">
					<div
						class="text-on-surface-variant font-medium transition-all duration-300 ease-in-out"
					>
						Credits
					</div>
					<p
						class="text-on-surface-variant text-sm m-0 transition-all duration-200 ease-in-out"
						[class.opacity-0]="isExpanded()"
						[class.max-h-0]="isExpanded()"
						[class.opacity-100]="!isExpanded()"
						[class.max-h-6]="!isExpanded()"
					>
						{{ getChartByString() }}
					</p>
					<p
						class="text-on-surface-variant text-sm m-0 transition-all duration-200 ease-in-out"
						[class.opacity-100]="isExpanded()"
						[class.max-h-6]="isExpanded()"
						[class.opacity-0]="!isExpanded()"
						[class.max-h-0]="!isExpanded()"
					>
						The following users contributed to this chart:
					</p>
				</div>
			</div>
			<mat-icon
				class="transition-transform duration-300 ease-in-out"
				[class.rotate-180]="isExpanded()"
				>expand_more</mat-icon
			>
		</div>
	</div>
	<div
		class="content transition-all duration-300 ease-in-out overflow-hidden"
		[class.max-h-0]="!isExpanded()"
		[class.opacity-0]="!isExpanded()"
		[class.max-h-[1000px]]="isExpanded()"
		[class.opacity-100]="isExpanded()"
	>
		@for (contributor of contributors(); track contributor.user.id) {
		<div class="flex items-center gap-4 mt-4">
			<app-avatar
				[class]="'w-12 h-12'"
				[src]="contributor.user.imageUrl"
				[alt]="contributor.user.username"
			></app-avatar>
			<div class="contributor-info">
				<p class="text-[#c8c7bf] text-sm font-medium m-0">
					&#64;{{ contributor.user.username }}
				</p>
				<p class="text-[#c6c8b9] text-xs m-0">
					{{ getRolesString(contributor) }}
				</p>
			</div>
		</div>
		}
	</div>
</div>
