.description {
    color: #c6c8b9;
    font-size: 14px;
    margin: 0;
}

.stacked-avatars {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid #fff;
}

.avatar:first-child {
    margin-left: 0;
}

.more {
    margin-left: 8px;
    color: #c8c7bf;
    font-size: 14px;
}

.contributors-list {
    padding: 16px;
}

.contributor {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.avatar-small {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.username {
    color: #c8c7bf;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.roles {
    color: #c6c8b9;
    font-size: 12px;
    margin: 0;
}