<h2 mat-dialog-title>Add contributor</h2>
<mat-dialog-content>
	<p class="mb-4">Tag some creators to add them to your chart credits</p>
	<app-searchbar
		#searchbar
		[debounceDuration]="2500"
		[onSearch]="onSearch"
		[autoComplete]="auto"
		placeholder="Search for community members"
		class="w-full mb-4"
	>
		<mat-autocomplete
			class="mt-2"
			#auto="matAutocomplete"
			(optionSelected)="onOptionSelected($event)"
		>
			@if (queryContributors === "start") {
				<mat-option class="pointer-events-none select-none w-full">
					<p class="text-center w-full">Start typing to search</p>
				</mat-option>
			} @else if (queryContributors === undefined) {
				<mat-option class="pointer-events-none select-none w-full">
					<span class="flex items-center justify-center w-full">
						<mat-progress-spinner
							mode="indeterminate"
							diameter="24"
						></mat-progress-spinner>
					</span>
				</mat-option>
			} @else if (queryContributors === null) {
				<mat-option class="pointer-events-none select-none w-full">
					<p class="text-center w-full">
						We found an error while fetching the data
					</p>
				</mat-option>
			} @else if (queryContributors.length === 0) {
				<mat-option
					class="w-full flex items-center justify-center pointer-events-none select-none"
				>
					<p class="text-center w-full">No results found</p>
				</mat-option>
			} @else {
				@for (user of queryContributors; track $index) {
					<mat-option [value]="user.username">
						<span
							class="flex flex-row items-center justify-start gap-4"
						>
							<app-avatar
								[size]="32"
								[src]="user.imageUrl"
								alt="{{ user.username }}"
							/>
							&#64;{{ user.username }}
						</span>
					</mat-option>
				}
			}
		</mat-autocomplete>
	</app-searchbar>
	<ul class="flex flex-col items-center justify-start w-full pt-4">
		@if (poolContributors.length > 0) {
			@for (user of poolContributors; track user; let index = $index) {
				<li class="flex flex-col items-start justify-start w-full">
					<div
						class="flex flex-row items-center justify-between gap-4 mb-2 w-full"
					>
						<span
							class="flex flex-row items-center justify-start gap-4"
						>
							<app-avatar
								[src]="user.imageUrl"
								[alt]="user.username"
							></app-avatar>
							<span class="text-base font-medium">{{
								user.username
							}}</span>
						</span>
						<button
							mat-icon-button
							(click)="removeContributor(user.username)"
						>
							<mat-icon>close</mat-icon>
						</button>
					</div>
					<!-- Separator -->
					@if (index !== data.contributors.length - 1) {
						<div
							class="flex w-full h-[1px] rounded-full bg-outline-variant mb-3"
						></div>
					}
				</li>
			}
		} @else {
			<div class="flex flex-col items-center justify-center gap-4 pt-4">
				<span class="text-5xl"
					><mat-icon inline>conditions</mat-icon></span
				>
				<p class="text-center w-full px-6">
					No contributors added. <br />
					Start adding members for them to appear here!
				</p>
			</div>
		}
	</ul>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close="cancel" cdkFocusInitial>Cancel</button>
	<button mat-button mat-dialog-close="ok">Add</button>
</mat-dialog-actions>
