PRODUCTION=false
DEV_MODE=false
API_URL="http://127.0.0.1:8080"
DISCORD_CLIENT_ID=""
REDIRECT_URI=""
LASTFM_API_KEY=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_API_KEY=""
ENCODING_KEY=""
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_SCOPES="https://www.googleapis.com/auth/drive.file"