@switch (config().type) {
	@case ("text") {
		<mat-form-field
			class="w-full"
			appearance="outline"
			[subscriptSizing]="config().hint ? 'dynamic' : 'fixed'"
		>
			<mat-label>{{ config().label }}</mat-label>
			<input
				matInput
				[type]="getTextConfig().inputType || 'text'"
				[formControl]="control()!"
				[placeholder]="getTextConfig().placeholder || ''"
			/>
			@for (error of fieldErrors(); track error.key) {
				<mat-error [innerHTML]="error.message"></mat-error>
			}
			@if (config().hint) {
				<mat-hint align="start">{{ config().hint }}</mat-hint>
			}
		</mat-form-field>
	}
	@case ("file") {
		<div class="flex flex-col gap-1">
			<app-file-field
				[title]="config().label"
				[accept]="getFileConfig().accept"
				[control]="control()!"
				(onFileDecoded)="getFileConfig().onFileSelected($event)"
			/>
			@if (config().hint) {
				<div class="text-sm text-gray-600 mt-1">
					{{ config().hint }}
				</div>
			}
			@for (error of fieldErrors(); track error.key) {
				<div
					class="text-red-600 text-sm mt-1"
					[innerHTML]="error.message"
				></div>
			}
		</div>
	}
}
