<div class="flex flex-1 relative">
	<ng-glyph
		name="search"
		size="20"
		class="text-on-surface-variant absolute top-1/2 -translate-y-1/2 left-6"
	/>
	@if (enableSuggestions()) {
		<input
			#input
			#trigger="matAutocompleteTrigger"
			class="pr-6 pl-15 py-3 bg-surface-container-high text-on-surface-variant rounded-full w-full focus:ring-2 focus:ring-primary focus:outline-none ring-offset-background disabled:opacity-50 transition-all disabled:cursor-not-allowed"
			type="text"
			[placeholder]="placeholder()"
			(input)="onInput($event)"
			(keydown)="onKeyDown($event)"
			[matAutocomplete]="auto()!"
			[disabled]="disabled()"
		/>
	} @else if (autoComplete() !== null) {
		<input
			#input
			#trigger="matAutocompleteTrigger"
			class="pr-6 pl-15 py-3 bg-surface-container-high text-on-surface-variant rounded-full w-full focus:ring-2 focus:ring-primary focus:outline-none ring-offset-background disabled:opacity-50 transition-all disabled:cursor-not-allowed"
			type="text"
			[placeholder]="placeholder()"
			(input)="onInput($event)"
			(keydown)="onKeyDown($event)"
			[matAutocomplete]="autoComplete()!"
			[disabled]="disabled()"
		/>
	} @else {
		<input
			#input
			class="pr-6 pl-15 py-3 bg-surface-container-high text-on-surface-variant rounded-full w-full focus:ring-2 focus:ring-primary focus:outline-none ring-offset-background disabled:opacity-50 transition-all disabled:cursor-not-allowed"
			type="text"
			[placeholder]="placeholder()"
			(input)="onInput($event)"
			(keydown)="onKeyDown($event)"
			[disabled]="disabled()"
		/>
	}
	<span class="absolute top-1/2 -translate-y-1/2 right-1.5">
		@if (this.input() && this.input().nativeElement.value.length > 0) {
			<button
				mat-icon-button
				type="button"
				(click)="clearSearch()"
				aria-label="Clear search input"
				class="flex! items-center! justify-center! disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
				[disabled]="disabled()"
			>
				<span class="flex flex-1 items-center justify-center">
					<ng-glyph name="close" />
				</span>
			</button>
		}
		<ng-content></ng-content>
	</span>
</div>
@if (enableSuggestions()) {
	<mat-autocomplete
		class="mt-2"
		#auto="matAutocomplete"
		(optionSelected)="onOptionSelected($event)"
	>
		@if (querySuggestions() === "start") {
		} @else if (querySuggestions() === "loading") {
			<mat-option class="pointer-events-none select-none w-full">
				<span class="flex items-center justify-center w-full">
					<mat-progress-spinner
						mode="indeterminate"
						diameter="24"
					></mat-progress-spinner>
				</span>
			</mat-option>
		} @else if (querySuggestions() === "error") {
			<mat-option class="pointer-events-none select-none w-full">
				<p class="text-center w-full">
					We found an error while fetching the data
				</p>
			</mat-option>
		} @else if (querySuggestions().length === 0) {
			<mat-option
				class="w-full flex items-center justify-center pointer-events-none select-none"
			>
				<p class="text-center w-full">No suggestions found</p>
			</mat-option>
		} @else {
			@for (suggestion of querySuggestions(); track $index) {
				<mat-option [value]="suggestion">
					{{ suggestion }}
				</mat-option>
			}
		}
	</mat-autocomplete>
} @else {
	<mat-autocomplete #auto="matAutocomplete" class="hidden">
	</mat-autocomplete>
}
