<div class="bg-[#12140d] content-stretch flex flex-col items-center relative size-full w-100 h-220"
    data-name="Workshop/Charts" data-node-id="2051:16064">
    <div class="absolute box-border content-stretch flex flex-col items-center justify-center left-0 px-[20px] py-[12px] right-0 top-0"
        data-name="Status Bar" data-node-id="2051:16079">
        <div class="h-[24px] relative shrink-0 w-full" data-name="Content" data-node-id="I2051:16079;6077:19953">
            <div class="absolute contents left-[1.16px] top-[5.33px]" data-name="Items"
                data-node-id="I2051:16079;6714:22599">
                <div class="absolute backdrop-blur-[75px] backdrop-filter bg-white inset-0 mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[1.162px_5.333px] mask-size-[316.181px_13.333px] mix-blend-multiply"
                    data-name="Blur Evenly" data-node-id="I2051:16079;890:2589"
                    style="mask-image: url('http://localhost:3845/assets/2a3452dcf65f20e538fe07433b98e00838492706.svg');">
                </div>
                <div class="absolute inset-0 mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[1.162px_5.333px] mask-size-[316.181px_13.333px]"
                    data-name="Auto Tint" data-node-id="I2051:16079;1553:13361"
                    style="mask-image: url('http://localhost:3845/assets/2a3452dcf65f20e538fe07433b98e00838492706.svg');">
                    <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
                        <div class="absolute bg-[red] inset-0 mix-blend-saturation"></div>
                        <div class="absolute bg-white inset-0 mix-blend-difference"></div>
                        <div class="absolute bg-white inset-0 mix-blend-saturation"></div>
                        <div class="absolute bg-white inset-0 mix-blend-overlay"></div>
                        <div class="absolute bg-black inset-0 mix-blend-overlay"></div>
                        <div class="absolute bg-white inset-0 mix-blend-overlay"></div>
                        <div class="absolute bg-black inset-0 mix-blend-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 box-border content-stretch flex flex-col gap-[4px] items-center justify-center left-0 px-0 py-[10px] right-0"
        data-name="Navigation Bar" data-node-id="2051:16080">
        <div class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-[0] place-items-start relative shrink-0"
            data-name="Items" data-node-id="I2051:16080;6728:22764">
            <div class="[grid-area:1_/_1] backdrop-blur-[75px] backdrop-filter bg-white h-[24px] mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[0px_10px] mask-size-[108px_4px] mix-blend-multiply ml-0 mt-[-10px] w-[108px]"
                data-name="Blur Evenly" data-node-id="I2051:16080;890:3113"
                style="mask-image: url('http://localhost:3845/assets/1f28e70cd43cc311798f1ca58c82dd5371a9ee75.svg');">
            </div>
            <div class="[grid-area:1_/_1] h-[24px] mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[0px_10px] mask-size-[108px_4px] ml-0 mt-[-10px] relative w-[108px]"
                data-name="Auto Tint" data-node-id="I2051:16080;1556:12107"
                style="mask-image: url('http://localhost:3845/assets/1f28e70cd43cc311798f1ca58c82dd5371a9ee75.svg');">
                <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
                    <div class="absolute bg-[red] inset-0 mix-blend-saturation"></div>
                    <div class="absolute bg-white inset-0 mix-blend-difference"></div>
                    <div class="absolute bg-white inset-0 mix-blend-saturation"></div>
                    <div class="absolute bg-white inset-0 mix-blend-overlay"></div>
                    <div class="absolute bg-black inset-0 mix-blend-overlay"></div>
                    <div class="absolute bg-white inset-0 mix-blend-overlay"></div>
                    <div class="absolute bg-black inset-0 mix-blend-overlay"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute bottom-[120px] box-border content-stretch flex gap-[12px] items-center justify-center overflow-clip pl-[16px] pr-[20px] py-[16px] right-[16px] shadow-[0px_0.25px_3px_0px_rgba(0,0,0,0.04),0px_2.75px_9px_0px_rgba(0,0,0,0.19)]"
        data-name="FAB / Extended" data-node-id="2051:16081">
        <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16081;7242:23606">
            <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                data-node-id="I2051:16081;7242:23606;5683:18743">
                <img alt="" class="block max-w-none size-full"
                    src="http://localhost:3845/assets/c12a0640b07fc17f6617f008af02e51259a82a46.svg" />
            </div>
        </div>
        <div class="relative shrink-0 size-[24px]" data-name="Icon" data-node-id="I2051:16081;8347:18399">
            <img alt="" class="block max-w-none size-full"
                src="http://localhost:3845/assets/4f5274c8c8d52fc6b4d7dec2a3df06565a3555ee.svg" />
        </div>
        <div class="flex flex-col font-['Roboto:Medium',sans-serif] font-medium justify-end leading-[0] relative shrink-0 text-[#cdef84] text-[14px] text-nowrap tracking-[0.1px]"
            data-node-id="I2051:16081;7242:23478" style="font-variation-settings: 'wdth' 100;">
            <p class="leading-[20px] whitespace-pre">Launch app</p>
        </div>
    </div>
    <div class="bg-[#1a1c15] box-border content-stretch flex flex-col items-center overflow-clip pb-0 pt-[48px] px-0 relative shrink-0 w-full"
        data-name="Search / Toolbar" data-node-id="2051:16065">
        <div class="box-border content-stretch flex flex-col gap-[4px] items-center justify-center px-[16px] py-[8px] relative shrink-0 w-full"
            data-name="Search / Bar" data-node-id="I2051:16065;9157:21765">
            <div class="box-border content-stretch flex items-center justify-center overflow-clip pl-[4px] pr-[16px] py-[4px] relative shrink-0 w-full"
                data-name="Content" data-node-id="I2051:16065;9157:21765;9137:22537">
                <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16065;9157:21765;9137:22538">
                    <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                        data-node-id="I2051:16065;9157:21765;9137:22538;7227:29770">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/fef7997110dcc7e24bfa7f6e606430698296f3aa.svg" />
                    </div>
                </div>
                <div class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-[0] place-items-start relative shrink-0"
                    data-name="Leading Icon" data-node-id="I2051:16065;9157:21765;9137:22539">
                    <div class="[grid-area:1_/_1] h-[48px] ml-0 mt-0 w-[12px]" data-name="Minimum width and margin"
                        data-node-id="I2051:16065;9157:21765;9137:22540"></div>
                    <div class="[grid-area:1_/_1] box-border content-stretch flex items-center justify-center ml-0 mt-0 p-[12px] relative"
                        data-name="Navigation icon" data-node-id="I2051:16065;9157:21765;9137:22541">
                        <div class="relative shrink-0 size-[24px]" data-name="Icon"
                            data-node-id="I2051:16065;9157:21765;9137:22541;8348:18507">
                            <img alt="" class="block max-w-none size-full"
                                src="http://localhost:3845/assets/3ed1dddf46a62856af2c28ee95ee795ee0ac31ea.svg" />
                        </div>
                    </div>
                </div>
                <div class="basis-0 flex flex-row grow items-center self-stretch shrink-0">
                    <div class="basis-0 box-border content-stretch flex gap-2 grow h-full items-center min-h-px min-w-px px-[8px] py-0 relative shrink-0"
                        data-name="Text container" data-node-id="I2051:16065;9157:21765;9145:23301">
                        <div class="basis-0 flex flex-col font-['Roboto:Regular',sans-serif] font-normal grow h-[32px] justify-center leading-[0] min-h-px min-w-px overflow-ellipsis overflow-hidden relative shrink-0 text-[#c6c8b9] text-[16px] text-nowrap tracking-[0.15px]"
                            data-node-id="I2051:16065;9157:21765;9145:23303"
                            style="font-variation-settings: 'wdth' 100;">
                            <p class="[white-space-collapse:collapse] leading-[24px] overflow-ellipsis overflow-hidden">
                                Search in workshop</p>
                        </div>
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center p-[12px] relative shrink-0"
                    data-name="Button / Icon Button" data-node-id="I2051:16065;9157:21765;9137:25169">
                    <div class="relative shrink-0 size-[24px]" data-name="Icon"
                        data-node-id="I2051:16065;9157:21765;9137:25169;8348:18507">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/560568cf9bd445d7ef4441647a1858ac8af3476e.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-stretch flex items-center relative shrink-0 w-full" data-name="Tabs"
            data-node-id="I2051:16065;9137:24060">
            <div class="basis-0 box-border content-stretch flex flex-col grow items-center justify-center min-h-px min-w-px px-[12px] py-0 relative shrink-0"
                data-name="Tabs" data-node-id="I2051:16065;9137:24060;7485:24072">
                <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[14px] relative shrink-0"
                    data-name="Content" data-node-id="I2051:16065;9137:24060;7485:24072;7480:24972">
                    <div class="absolute bottom-0 left-[4px] right-[4px] top-0" data-name=".Tab Indicator / Border"
                        data-node-id="I2051:16065;9137:24060;7485:24072;7480:24976">
                        <div class="absolute bg-[#b2d26b] bottom-0 h-[3px] left-0 right-0 rounded-tl-[3px] rounded-tr-[3px]"
                            data-name="Vector" data-node-id="I2051:16065;9137:24060;7485:24072;7480:24976;4533:27560">
                        </div>
                    </div>
                    <div class="box-border content-stretch flex flex-col items-center justify-center px-[4px] py-0 relative shrink-0 w-full"
                        data-name="Label" data-node-id="I2051:16065;9137:24060;7485:24072;7480:24979">
                        <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[#b2d26b] text-[14px] text-center text-nowrap tracking-[0.1px] whitespace-pre"
                            data-node-id="I2051:16065;9137:24060;7485:24072;7480:24975"
                            style="font-variation-settings: 'wdth' 100;">
                            Charts
                        </p>
                    </div>
                </div>
            </div>
            <div class="basis-0 box-border content-stretch flex flex-col grow items-center justify-center min-h-px min-w-px px-[12px] py-0 relative shrink-0"
                data-name="Tabs" data-node-id="I2051:16065;9137:24060;7485:24073">
                <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[14px] relative shrink-0"
                    data-name="Content" data-node-id="I2051:16065;9137:24060;7485:24073;7480:25075">
                    <div class="box-border content-stretch flex flex-col items-center justify-center px-[4px] py-0 relative shrink-0 w-full"
                        data-name="Label" data-node-id="I2051:16065;9137:24060;7485:24073;7480:25077">
                        <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[#c6c8b9] text-[14px] text-center text-nowrap tracking-[0.1px] whitespace-pre"
                            data-node-id="I2051:16065;9137:24060;7485:24073;7480:25078"
                            style="font-variation-settings: 'wdth' 100;">
                            Tour Passes
                        </p>
                    </div>
                </div>
            </div>
            <div class="basis-0 box-border content-stretch flex flex-col grow items-center justify-center min-h-px min-w-px px-[12px] py-0 relative shrink-0"
                data-name="Tabs" data-node-id="I2051:16065;9137:24060;7485:24086">
                <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[14px] relative shrink-0"
                    data-name="Content" data-node-id="I2051:16065;9137:24060;7485:24086;7480:25075">
                    <div class="box-border content-stretch flex flex-col items-center justify-center px-[4px] py-0 relative shrink-0 w-full"
                        data-name="Label" data-node-id="I2051:16065;9137:24060;7485:24086;7480:25077">
                        <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[#c6c8b9] text-[14px] text-center text-nowrap tracking-[0.1px] whitespace-pre"
                            data-node-id="I2051:16065;9137:24060;7485:24086;7480:25078"
                            style="font-variation-settings: 'wdth' 100;">
                            Themes
                        </p>
                        <div class="absolute inset-0" data-name="Badge"
                            data-node-id="I2051:16065;9137:24060;7485:24086;7480:25079">
                            <div class="absolute right-[-4px] size-[8px] top-[-4px]" data-name="Indicator"
                                data-node-id="I2051:16065;9137:24060;7485:24086;7480:25079;1150:7737">
                                <img alt="" class="block max-w-none size-full"
                                    src="http://localhost:3845/assets/857a309654ab54564a9265e2078c7f7cbf6d73b8.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-stretch flex flex-col items-center justify-center opacity-0 relative shrink-0 w-full"
            data-name="Divider" data-node-id="I2051:16065;9161:24387">
            <div class="h-[1e_-5px] relative shrink-0 w-full" data-name="Line"
                data-node-id="I2051:16065;9161:24387;8013:19691">
                <div class="absolute bg-[#909284] bottom-0 h-px left-0 right-0" data-name="Line"
                    data-node-id="I2051:16065;9161:24387;3403:3066"></div>
            </div>
        </div>
    </div>
    <div class="box-border content-stretch flex gap-[8px] items-center overflow-clip pb-0 pl-[16px] pr-0 pt-[16px] relative rounded-[16px] shrink-0 w-full"
        data-name="Filters" data-node-id="2051:16066">
        <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[8px] relative shrink-0"
            data-name="Chip / Filter" data-node-id="2051:16067">
            <div class="box-border content-stretch flex items-center justify-center overflow-clip p-[4px] relative shrink-0"
                data-name="Container" data-node-id="I2051:16067;7352:24942">
                <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16067;7352:24943">
                    <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                        data-node-id="I2051:16067;7352:24943;5683:18779">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/acd563ee10198d18aeeae055b3c47543964aa361.svg" />
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center pl-[4px] pr-0 py-[3px] relative shrink-0"
                    data-name=".Checkmark" data-node-id="I2051:16067;7352:24946">
                    <div class="relative shrink-0 size-[18px]" data-name="Checkmark"
                        data-node-id="I2051:16067;7352:24946;5262:13771">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/034442f23801ac66740ff3cafed1d7aabac6d1d7.svg" />
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center px-[8px] py-[2px] relative shrink-0"
                    data-name="Label" data-node-id="I2051:16067;7352:24947">
                    <div class="flex flex-col font-['Roboto:Medium',sans-serif] font-medium justify-center leading-[0] relative shrink-0 text-[#dee6c5] text-[14px] text-nowrap tracking-[0.1px]"
                        data-node-id="I2051:16067;7352:24948" style="font-variation-settings: 'wdth' 100;">
                        <p class="leading-[20px] whitespace-pre">Weekly Rank</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[8px] relative shrink-0"
            data-name="Chip / Filter" data-node-id="2051:16069">
            <div class="box-border content-stretch flex items-center justify-center min-w-[48px] overflow-clip p-[4px] relative shrink-0"
                data-name="Container" data-node-id="I2051:16069;7352:24890">
                <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16069;7352:24891">
                    <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                        data-node-id="I2051:16069;7352:24891;5683:18779">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/547914604d06d776c68cc6cfac58c99e59acb7de.svg" />
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center px-[8px] py-[2px] relative shrink-0"
                    data-name="Label" data-node-id="I2051:16069;7352:24894">
                    <div class="flex flex-col font-['Roboto:Medium',sans-serif] font-medium justify-center leading-[0] relative shrink-0 text-[#c6c8b9] text-[14px] text-nowrap tracking-[0.1px]"
                        data-node-id="I2051:16069;7352:24895" style="font-variation-settings: 'wdth' 100;">
                        <p class="leading-[20px] whitespace-pre">Last updated</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[8px] relative shrink-0"
            data-name="Chip / Filter" data-node-id="2051:16070">
            <div class="box-border content-stretch flex items-center justify-center min-w-[48px] overflow-clip p-[4px] relative shrink-0"
                data-name="Container" data-node-id="I2051:16070;7352:24890">
                <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16070;7352:24891">
                    <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                        data-node-id="I2051:16070;7352:24891;5683:18779">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/b034dd0c439bcb56d1fec455b655c4433fcbfcf9.svg" />
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center px-[8px] py-[2px] relative shrink-0"
                    data-name="Label" data-node-id="I2051:16070;7352:24894">
                    <div class="flex flex-col font-['Roboto:Medium',sans-serif] font-medium justify-center leading-[0] relative shrink-0 text-[#c6c8b9] text-[14px] text-nowrap tracking-[0.1px]"
                        data-node-id="I2051:16070;7352:24895" style="font-variation-settings: 'wdth' 100;">
                        <p class="leading-[20px] whitespace-pre">Most downloaded</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex flex-col items-center justify-center px-0 py-[8px] relative shrink-0"
            data-name="Chip / Filter" data-node-id="2051:16071">
            <div class="box-border content-stretch flex items-center justify-center min-w-[48px] overflow-clip p-[4px] relative shrink-0"
                data-name="Container" data-node-id="I2051:16071;7352:24890">
                <div class="absolute inset-0" data-name="Shape" data-node-id="I2051:16071;7352:24891">
                    <div class="absolute left-0 size-[96px] top-0" data-name="Surface"
                        data-node-id="I2051:16071;7352:24891;5683:18779">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/09b937dcb07c39f8647344e4aa8f5c7bd1b8638e.svg" />
                    </div>
                </div>
                <div class="box-border content-stretch flex items-center justify-center px-[8px] py-[2px] relative shrink-0"
                    data-name="Label" data-node-id="I2051:16071;7352:24894">
                    <div class="flex flex-col font-['Roboto:Medium',sans-serif] font-medium justify-center leading-[0] relative shrink-0 text-[#c6c8b9] text-[14px] text-nowrap tracking-[0.1px]"
                        data-node-id="I2051:16071;7352:24895" style="font-variation-settings: 'wdth' 100;">
                        <p class="leading-[20px] whitespace-pre">Most liked</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basis-0 box-border content-stretch flex flex-col grow items-center min-h-px min-w-px overflow-x-clip overflow-y-auto px-0 py-[8px] relative shrink-0 w-full"
        data-name="List" data-node-id="2051:16072">
        <div class="box-border content-stretch flex gap-[16px] items-start overflow-clip p-[16px] relative shrink-0 w-full"
            data-name="ChartPreview" data-node-id="2051:16073">
            <div class="content-stretch flex gap-[10px] items-center justify-center relative shrink-0 size-[76px]"
                data-name="Cover" data-node-id="I2051:16073;10:1090">
                <div class="basis-0 grow h-full min-h-px min-w-px relative shrink-0" data-name="Art"
                    data-node-id="I2051:16073;10:1090;10:940">
                    <img alt=""
                        class="absolute inset-0 max-w-none object-50%-50% object-contain pointer-events-none size-full"
                        src="http://localhost:3845/assets/da298b1830ecbe0ba4da6210a14f9815641d5c7c.png" />
                </div>
                <div class="absolute bottom-0 h-[40px] overflow-clip right-0 w-[36px]" data-name="Difficulty"
                    data-node-id="I2051:16073;10:1090;10:555">
                    <div class="absolute inset-0" data-name="Corner" data-node-id="I2051:16073;10:1090;10:555;10:546">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
                    </div>
                    <div class="absolute bottom-0 left-[45%] right-[-5%] top-[40%]" data-name="Extreme"
                        data-node-id="I2051:16073;10:1090;10:555;10:547">
                        <img alt=""
                            class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                            src="http://localhost:3845/assets/07b8e74fda276031174c4a5c8cdff00db4e0c3d5.png" />
                    </div>
                </div>
            </div>
            <div class="basis-0 content-stretch flex flex-col grow items-start min-h-px min-w-px relative shrink-0"
                data-name="Labels" data-node-id="I2051:16073;6:525">
                <div class="content-stretch flex gap-[8px] items-baseline relative shrink-0 w-full" data-name="Title"
                    data-node-id="I2051:16073;6:526">
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[24px] relative shrink-0 text-[#c8c7bf] text-[16px] text-nowrap tracking-[0.15px] whitespace-pre"
                        data-node-id="I2051:16073;6:527" style="font-variation-settings: 'wdth' 100;">
                        We Live Forever
                    </p>
                    <div class="h-[10.4px] relative shrink-0 w-[12px]" data-name="Deluxe"
                        data-node-id="I2051:16073;10:587">
                        <img alt=""
                            class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                            src="http://localhost:3845/assets/171d7b63ec7ebb5460282cd86cc6866ffe8d3708.png" />
                    </div>
                    <p class="basis-0 font-['Roboto:Medium',sans-serif] font-medium grow leading-[16px] min-h-px min-w-px relative shrink-0 text-[#c6c8b9] text-[12px] text-right tracking-[0.5px]"
                        data-node-id="I2051:16073;6:529" style="font-variation-settings: 'wdth' 100;">
                        yesterday
                    </p>
                </div>
                <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c8c7bf] text-[14px] tracking-[0.1px] w-[min-content]"
                    data-node-id="I2051:16073;6:530" style="font-variation-settings: 'wdth' 100;">
                    The Prodigy
                </p>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16073;10:684"></div>
                <div class="box-border content-stretch flex gap-[10px] items-start pl-0 pr-[48px] py-0 relative shrink-0 w-full"
                    data-name="Holder" data-node-id="I2051:16073;471:14300">
                    <div class="border border-[#909284] border-solid box-border content-stretch flex gap-[8px] items-center pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                        data-name="Creator" data-node-id="I2051:16073;10:693">
                        <div class="box-border content-stretch flex isolate items-center pl-0 pr-[5px] py-0 relative shrink-0"
                            data-name="Icons" data-node-id="I2051:16073;10:1250">
                            <div class="mr-[-5px] relative rounded-[149px] shrink-0 size-[16px] z-[3]" data-name="Icon1"
                                data-node-id="I2051:16073;10:713">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[149px] size-full"
                                    src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
                            </div>
                        </div>
                        <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#c8c7bf] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                            data-node-id="I2051:16073;10:698" style="font-variation-settings: 'wdth' 100;">
                            Chart by &#64;meninocoiso
                        </p>
                    </div>
                </div>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16073;33:20203"></div>
                <div class="bg-[#3a4d10] box-border content-stretch flex gap-[8px] items-center px-[12px] py-[4px] relative rounded-[32px] shrink-0"
                    data-name="Installed" data-node-id="I2051:16073;33:18546">
                    <div class="relative shrink-0 size-[16px]" data-name="check" data-node-id="I2051:16073;34:7978">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/34df3aa93e94953310884a82bc28e54dec313ba0.svg" />
                    </div>
                    <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#d4ec9e] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                        data-node-id="I2051:16073;33:18551" style="font-variation-settings: 'wdth' 100;">
                        Installed
                    </p>
                </div>
                <div class="absolute bottom-0 content-stretch flex gap-[8px] items-center justify-center opacity-60 right-[0.07px]"
                    data-name="Ranking" data-node-id="I2051:16073;471:10890">
                    <div class="h-[6px] relative shrink-0 w-[6.928px]" data-name="Up"
                        data-node-id="I2051:16073;471:10890;197:13024">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/29a6f8db8f0d60ccedc75710448c681ce5081a11.svg" />
                    </div>
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[14px] text-[color:var(--schemes\/on-secondary,#ffffff)] text-nowrap tracking-[0.1px] whitespace-pre"
                        data-node-id="I2051:16073;471:10890;197:11132" style="font-variation-settings: 'wdth' 100;">
                        1º
                    </p>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex gap-[16px] items-start opacity-50 overflow-clip p-[16px] relative shrink-0 w-full"
            data-name="ChartPreview" data-node-id="2051:16074">
            <div class="content-stretch flex gap-[10px] items-center justify-center relative shrink-0 size-[76px]"
                data-name="Cover" data-node-id="I2051:16074;10:1090">
                <div class="basis-0 grow h-full min-h-px min-w-px relative shrink-0" data-name="Art"
                    data-node-id="I2051:16074;10:1090;10:940">
                    <img alt=""
                        class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                        src="http://localhost:3845/assets/120aa0f91d83859fbf4d9877469ebb3c587a4532.png" />
                </div>
            </div>
            <div class="basis-0 content-stretch flex flex-col grow items-start min-h-px min-w-px relative shrink-0"
                data-name="Labels" data-node-id="I2051:16074;6:525">
                <div class="content-stretch flex font-['Roboto:Medium',sans-serif] font-medium gap-[8px] items-baseline relative shrink-0 w-full"
                    data-name="Title" data-node-id="I2051:16074;6:526">
                    <p class="leading-[24px] relative shrink-0 text-[#c8c7bf] text-[16px] text-nowrap tracking-[0.15px] whitespace-pre"
                        data-node-id="I2051:16074;6:527" style="font-variation-settings: 'wdth' 100;">
                        Mine
                    </p>
                    <p class="basis-0 grow leading-[16px] min-h-px min-w-px relative shrink-0 text-[#c6c8b9] text-[12px] text-right tracking-[0.5px]"
                        data-node-id="I2051:16074;6:529" style="font-variation-settings: 'wdth' 100;">
                        3 days ago
                    </p>
                </div>
                <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c8c7bf] text-[14px] tracking-[0.1px] w-[min-content]"
                    data-node-id="I2051:16074;6:530" style="font-variation-settings: 'wdth' 100;">
                    Bazzi
                </p>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16074;10:684"></div>
                <div class="box-border content-stretch flex gap-[10px] items-start pl-0 pr-[48px] py-0 relative shrink-0 w-full"
                    data-name="Holder" data-node-id="I2051:16074;471:14300">
                    <div class="border border-[#909284] border-solid box-border content-stretch flex gap-[8px] items-center pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                        data-name="Creator" data-node-id="I2051:16074;10:693">
                        <div class="box-border content-stretch flex isolate items-center pl-0 pr-[5px] py-0 relative shrink-0"
                            data-name="Icons" data-node-id="I2051:16074;10:1250">
                            <div class="mr-[-5px] relative rounded-[8px] shrink-0 size-[16px] z-[2]" data-name="Icon2"
                                data-node-id="I2051:16074;10:1258">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[8px] size-full"
                                    src="http://localhost:3845/assets/5f57829ab0d512814acb363e55181e23b614e156.png" />
                            </div>
                            <div class="mr-[-5px] relative rounded-[8px] shrink-0 size-[16px] z-[1]" data-name="Icon3"
                                data-node-id="I2051:16074;10:1276">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[8px] size-full"
                                    src="http://localhost:3845/assets/7e4c7e3fc8649dd3d0f8bb9f35277f1dcd8decfe.png" />
                            </div>
                        </div>
                        <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#c8c7bf] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                            data-node-id="I2051:16074;10:698" style="font-variation-settings: 'wdth' 100;">
                            Chart by &#64;oCosmo55 and others
                        </p>
                    </div>
                </div>
                <div class="absolute bottom-0 content-stretch flex gap-[8px] items-center justify-center opacity-60 right-[0.07px]"
                    data-name="Ranking" data-node-id="I2051:16074;471:10890">
                    <div class="flex items-center justify-center relative shrink-0">
                        <div class="flex-none rotate-[180deg]">
                            <div class="h-[6px] relative w-[6.928px]" data-name="Down"
                                data-node-id="I2051:16074;471:10890;471:14264">
                                <img alt="" class="block max-w-none size-full"
                                    src="http://localhost:3845/assets/7ba0eda34a042be0dec1bbb1ef23c9c3413bf35d.svg" />
                            </div>
                        </div>
                    </div>
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[14px] text-[color:var(--schemes\/on-secondary,#ffffff)] text-nowrap tracking-[0.1px] whitespace-pre"
                        data-node-id="I2051:16074;471:10890;471:14265" style="font-variation-settings: 'wdth' 100;">
                        2º
                    </p>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex gap-[16px] items-start overflow-clip p-[16px] relative shrink-0 w-full"
            data-name="ChartPreview" data-node-id="2051:16075">
            <div class="content-stretch flex gap-[10px] items-center justify-center relative shrink-0 size-[76px]"
                data-name="Cover" data-node-id="I2051:16075;10:1090">
                <div class="basis-0 grow h-full min-h-px min-w-px relative shrink-0" data-name="Art"
                    data-node-id="I2051:16075;10:1090;10:940">
                    <img alt=""
                        class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                        src="http://localhost:3845/assets/3f6e067e71deae171dd6b01e0b6d1d8afc8b66cb.png" />
                </div>
                <div class="absolute bottom-0 h-[40px] overflow-clip right-0 w-[36px]" data-name="Difficulty"
                    data-node-id="I2051:16075;10:1090;10:555">
                    <div class="absolute inset-0" data-name="Corner" data-node-id="I2051:16075;10:1090;10:555;10:546">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
                    </div>
                    <div class="absolute bottom-0 left-[45%] right-[-5%] top-[40%]" data-name="Extreme"
                        data-node-id="I2051:16075;10:1090;10:555;10:547">
                        <img alt=""
                            class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                            src="http://localhost:3845/assets/07b8e74fda276031174c4a5c8cdff00db4e0c3d5.png" />
                    </div>
                </div>
            </div>
            <div class="basis-0 content-stretch flex flex-col grow items-start min-h-px min-w-px relative shrink-0"
                data-name="Labels" data-node-id="I2051:16075;6:525">
                <div class="content-stretch flex font-['Roboto:Medium',sans-serif] font-medium gap-[8px] items-baseline relative shrink-0 w-full"
                    data-name="Title" data-node-id="I2051:16075;6:526">
                    <p class="leading-[24px] relative shrink-0 text-[#c8c7bf] text-[16px] text-nowrap tracking-[0.15px] whitespace-pre"
                        data-node-id="I2051:16075;6:527" style="font-variation-settings: 'wdth' 100;">
                        Overdrive
                    </p>
                    <p class="basis-0 grow leading-[16px] min-h-px min-w-px relative shrink-0 text-[#c6c8b9] text-[12px] text-right tracking-[0.5px]"
                        data-node-id="I2051:16075;6:529" style="font-variation-settings: 'wdth' 100;">
                        a week ago
                    </p>
                </div>
                <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c8c7bf] text-[14px] tracking-[0.1px] w-[min-content]"
                    data-node-id="I2051:16075;6:530" style="font-variation-settings: 'wdth' 100;">
                    Metrik, Grafix
                </p>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16075;10:684"></div>
                <div class="box-border content-stretch flex gap-[10px] items-start pl-0 pr-[48px] py-0 relative shrink-0 w-full"
                    data-name="Holder" data-node-id="I2051:16075;471:14300">
                    <div class="border border-[#909284] border-solid box-border content-stretch flex gap-[8px] items-center pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                        data-name="Creator" data-node-id="I2051:16075;10:693">
                        <div class="box-border content-stretch flex isolate items-center pl-0 pr-[5px] py-0 relative shrink-0"
                            data-name="Icons" data-node-id="I2051:16075;10:1250">
                            <div class="mr-[-5px] relative rounded-[149px] shrink-0 size-[16px] z-[3]" data-name="Icon1"
                                data-node-id="I2051:16075;10:713">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[149px] size-full"
                                    src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
                            </div>
                        </div>
                        <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#c8c7bf] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                            data-node-id="I2051:16075;10:698" style="font-variation-settings: 'wdth' 100;">
                            Chart by &#64;meninocoiso
                        </p>
                    </div>
                </div>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16075;10:3116"></div>
                <div class="border border-[#a0d0c8] border-solid box-border content-stretch flex gap-[8px] items-center pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                    data-name="Featured" data-node-id="I2051:16075;10:3485">
                    <div class="relative shrink-0 size-[16px]" data-name="Icon" data-node-id="I2051:16075;10:3808">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/8e2916e7cfe2090ca495cbeedea0e2a2af0890e2.svg" />
                    </div>
                    <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#a0d0c8] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                        data-node-id="I2051:16075;10:3490" style="font-variation-settings: 'wdth' 100;">
                        Editors Choice
                    </p>
                </div>
                <div class="absolute bottom-0 content-stretch flex gap-[8px] items-center justify-center opacity-60 right-[0.07px]"
                    data-name="Ranking" data-node-id="I2051:16075;471:10890">
                    <div class="h-[6px] relative shrink-0 w-[6.928px]" data-name="Up"
                        data-node-id="I2051:16075;471:10890;197:13024">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/29a6f8db8f0d60ccedc75710448c681ce5081a11.svg" />
                    </div>
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[14px] text-[color:var(--schemes\/on-secondary,#ffffff)] text-nowrap tracking-[0.1px] whitespace-pre"
                        data-node-id="I2051:16075;471:10890;197:11132" style="font-variation-settings: 'wdth' 100;">
                        3º
                    </p>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex gap-[16px] items-start overflow-clip p-[16px] relative shrink-0 w-full"
            data-name="ChartPreview" data-node-id="2051:16076">
            <div class="content-stretch flex gap-[10px] items-center justify-center relative shrink-0 size-[76px]"
                data-name="Cover" data-node-id="I2051:16076;10:1090">
                <div class="basis-0 grow h-full min-h-px min-w-px relative shrink-0" data-name="Art"
                    data-node-id="I2051:16076;10:1090;10:940">
                    <img alt=""
                        class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                        src="http://localhost:3845/assets/21621395472602cdbe1c5b44a6f43396fd7b1068.png" />
                </div>
                <div class="absolute bottom-0 h-[40px] overflow-clip right-0 w-[36px]" data-name="Difficulty"
                    data-node-id="I2051:16076;10:1090;10:555">
                    <div class="absolute inset-0" data-node-id="I2051:16076;10:1090;10:555;10:801">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
                    </div>
                    <div class="absolute bottom-0 left-[45%] right-[-5%] top-[40%]" data-name="Hard"
                        data-node-id="I2051:16076;10:1090;10:555;10:803">
                        <img alt=""
                            class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                            src="http://localhost:3845/assets/60d6e59301288434e789f4445bb2e1e2cbc290f0.png" />
                    </div>
                </div>
            </div>
            <div class="basis-0 content-stretch flex flex-col grow items-start min-h-px min-w-px relative shrink-0"
                data-name="Labels" data-node-id="I2051:16076;6:525">
                <div class="content-stretch flex font-['Roboto:Medium',sans-serif] font-medium gap-[8px] items-baseline relative shrink-0 w-full"
                    data-name="Title" data-node-id="I2051:16076;6:526">
                    <p class="leading-[24px] relative shrink-0 text-[#c8c7bf] text-[16px] text-nowrap tracking-[0.15px] whitespace-pre"
                        data-node-id="I2051:16076;6:527" style="font-variation-settings: 'wdth' 100;">
                        Go With The Flow
                    </p>
                    <p class="basis-0 grow leading-[16px] min-h-px min-w-px relative shrink-0 text-[#c6c8b9] text-[12px] text-right tracking-[0.5px]"
                        data-node-id="I2051:16076;6:529" style="font-variation-settings: 'wdth' 100;">
                        2 weeks ago
                    </p>
                </div>
                <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c8c7bf] text-[14px] tracking-[0.1px] w-[min-content]"
                    data-node-id="I2051:16076;6:530" style="font-variation-settings: 'wdth' 100;">
                    Queens of the Stone Age
                </p>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16076;10:684"></div>
                <div class="box-border content-stretch flex gap-[10px] items-start pl-0 pr-[48px] py-0 relative shrink-0 w-full"
                    data-name="Holder" data-node-id="I2051:16076;471:14300">
                    <div class="basis-0 border border-[#909284] border-solid box-border content-stretch flex gap-[8px] grow items-center min-h-px min-w-px pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                        data-name="Creator" data-node-id="I2051:16076;10:693">
                        <div class="box-border content-stretch flex isolate items-center pl-0 pr-[5px] py-0 relative shrink-0"
                            data-name="Icons" data-node-id="I2051:16076;10:1250">
                            <div class="mr-[-5px] relative rounded-[149px] shrink-0 size-[16px] z-[3]" data-name="Icon1"
                                data-node-id="I2051:16076;10:713">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[149px] size-full"
                                    src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
                            </div>
                            <div class="mr-[-5px] relative rounded-[8px] shrink-0 size-[16px] z-[2]" data-name="Icon2"
                                data-node-id="I2051:16076;10:1258">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[8px] size-full"
                                    src="http://localhost:3845/assets/5f57829ab0d512814acb363e55181e23b614e156.png" />
                            </div>
                            <div class="mr-[-5px] relative rounded-[8px] shrink-0 size-[16px] z-[1]" data-name="Icon3"
                                data-node-id="I2051:16076;10:1276">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[8px] size-full"
                                    src="http://localhost:3845/assets/7e4c7e3fc8649dd3d0f8bb9f35277f1dcd8decfe.png" />
                            </div>
                        </div>
                        <p class="[white-space-collapse:collapse] basis-0 font-['Roboto:Regular',sans-serif] font-normal grow leading-[16px] min-h-px min-w-px overflow-ellipsis overflow-hidden relative shrink-0 text-[#c8c7bf] text-[12px] text-nowrap tracking-[0.4px]"
                            data-node-id="I2051:16076;10:698" style="font-variation-settings: 'wdth' 100;">
                            Chart by &#64;meninocoiso and others
                        </p>
                    </div>
                </div>
                <div class="absolute bottom-0 content-stretch flex gap-[8px] items-center justify-center opacity-60 right-[0.07px]"
                    data-name="Ranking" data-node-id="I2051:16076;471:10890">
                    <div class="flex items-center justify-center relative shrink-0">
                        <div class="flex-none rotate-[180deg]">
                            <div class="h-[6px] relative w-[6.928px]" data-name="Down"
                                data-node-id="I2051:16076;471:10890;471:14264">
                                <img alt="" class="block max-w-none size-full"
                                    src="http://localhost:3845/assets/7ba0eda34a042be0dec1bbb1ef23c9c3413bf35d.svg" />
                            </div>
                        </div>
                    </div>
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[14px] text-[color:var(--schemes\/on-secondary,#ffffff)] text-nowrap tracking-[0.1px] whitespace-pre"
                        data-node-id="I2051:16076;471:10890;471:14265" style="font-variation-settings: 'wdth' 100;">
                        4º
                    </p>
                </div>
            </div>
        </div>
        <div class="box-border content-stretch flex gap-[16px] items-start overflow-clip p-[16px] relative shrink-0 w-full"
            data-name="ChartPreview" data-node-id="2051:16077">
            <div class="content-stretch flex gap-[10px] items-center justify-center relative shrink-0 size-[76px]"
                data-name="Cover" data-node-id="I2051:16077;10:1090">
                <div class="basis-0 grow h-full min-h-px min-w-px relative shrink-0" data-name="Art"
                    data-node-id="I2051:16077;10:1090;10:940">
                    <img alt=""
                        class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                        src="http://localhost:3845/assets/b3ba29b7d942a7e1c4958d2197261df1927f3b24.png" />
                </div>
                <div class="absolute bottom-0 h-[40px] overflow-clip right-0 w-[36px]" data-name="Difficulty"
                    data-node-id="I2051:16077;10:1090;10:555">
                    <div class="absolute inset-0" data-node-id="I2051:16077;10:1090;10:555;10:801">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
                    </div>
                    <div class="absolute bottom-0 left-[45%] right-[-5%] top-[40%]" data-name="Hard"
                        data-node-id="I2051:16077;10:1090;10:555;10:803">
                        <img alt=""
                            class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none size-full"
                            src="http://localhost:3845/assets/60d6e59301288434e789f4445bb2e1e2cbc290f0.png" />
                    </div>
                </div>
            </div>
            <div class="basis-0 content-stretch flex flex-col grow items-start min-h-px min-w-px relative shrink-0"
                data-name="Labels" data-node-id="I2051:16077;6:525">
                <div class="content-stretch flex font-['Roboto:Medium',sans-serif] font-medium gap-[8px] items-baseline relative shrink-0 w-full"
                    data-name="Title" data-node-id="I2051:16077;6:526">
                    <p class="leading-[24px] relative shrink-0 text-[#c8c7bf] text-[16px] text-nowrap tracking-[0.15px] whitespace-pre"
                        data-node-id="I2051:16077;6:527" style="font-variation-settings: 'wdth' 100;">
                        What You Know
                    </p>
                    <p class="basis-0 grow leading-[16px] min-h-px min-w-px relative shrink-0 text-[#c6c8b9] text-[12px] text-right tracking-[0.5px]"
                        data-node-id="I2051:16077;6:529" style="font-variation-settings: 'wdth' 100;">
                        2 weeks ago
                    </p>
                </div>
                <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c8c7bf] text-[14px] tracking-[0.1px] w-[min-content]"
                    data-node-id="I2051:16077;6:530" style="font-variation-settings: 'wdth' 100;">
                    Two Door Cinema Club
                </p>
                <div class="shrink-0 size-[8px]" data-name="Spacing" data-node-id="I2051:16077;10:684"></div>
                <div class="box-border content-stretch flex gap-[10px] items-start pl-0 pr-[48px] py-0 relative shrink-0 w-full"
                    data-name="Holder" data-node-id="I2051:16077;471:14300">
                    <div class="border border-[#909284] border-solid box-border content-stretch flex gap-[8px] items-center pl-[6px] pr-[8px] py-[4px] relative rounded-[32px] shrink-0"
                        data-name="Creator" data-node-id="I2051:16077;10:693">
                        <div class="box-border content-stretch flex isolate items-center pl-0 pr-[5px] py-0 relative shrink-0"
                            data-name="Icons" data-node-id="I2051:16077;10:1250">
                            <div class="mr-[-5px] relative rounded-[8px] shrink-0 size-[16px] z-[1]" data-name="Icon3"
                                data-node-id="I2051:16077;10:1276">
                                <img alt=""
                                    class="absolute inset-0 max-w-none object-50%-50% object-cover pointer-events-none rounded-[8px] size-full"
                                    src="http://localhost:3845/assets/197ce2f61e8f55a5ea78785c6d900894061d29f8.png" />
                            </div>
                        </div>
                        <p class="font-['Roboto:Regular',sans-serif] font-normal leading-[16px] overflow-ellipsis overflow-hidden relative shrink-0 text-[#c8c7bf] text-[12px] text-nowrap tracking-[0.4px] whitespace-pre"
                            data-node-id="I2051:16077;10:698" style="font-variation-settings: 'wdth' 100;">
                            Chart by &#64;oCosmo55
                        </p>
                    </div>
                </div>
                <div class="absolute bottom-0 content-stretch flex gap-[8px] items-center justify-center opacity-60 right-[0.07px]"
                    data-name="Ranking" data-node-id="I2051:16077;471:10890">
                    <div class="h-[6px] relative shrink-0 w-[6.928px]" data-name="Up"
                        data-node-id="I2051:16077;471:10890;197:13024">
                        <img alt="" class="block max-w-none size-full"
                            src="http://localhost:3845/assets/29a6f8db8f0d60ccedc75710448c681ce5081a11.svg" />
                    </div>
                    <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] relative shrink-0 text-[14px] text-[color:var(--schemes\/on-secondary,#ffffff)] text-nowrap tracking-[0.1px] whitespace-pre"
                        data-node-id="I2051:16077;471:10890;197:11132" style="font-variation-settings: 'wdth' 100;">
                        5º
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#1f201b] box-border content-stretch flex items-start justify-center overflow-clip pb-[24px] pt-0 px-0 relative shrink-0 w-full"
        data-name="Navigation Bar" data-node-id="2051:16078">
        <div class="basis-0 box-border content-stretch flex flex-col gap-[8px] grow h-[80px] items-center justify-center min-h-px min-w-px pb-[12px] pt-[16px] px-0 relative shrink-0"
            data-name="Item 01" data-node-id="I2051:16078;163:425">
            <div class="absolute content-stretch flex flex-col items-center justify-center left-1/2 top-[calc(50%-12px)] translate-x-[-50%] translate-y-[-50%]"
                data-name=".Selected Indicator" data-node-id="I2051:16078;163:425;7606:34755">
                <div class="bg-[#424a31] h-[32px] rounded-[32px] shrink-0 w-[64px]" data-name="Shape"
                    data-node-id="I2051:16078;163:425;7606:34755;7606:34753"></div>
            </div>
            <div class="relative shrink-0 size-[24px]" data-name="Icon" data-node-id="I2051:16078;163:425;8351:24319">
                <img alt="" class="block max-w-none size-full"
                    src="http://localhost:3845/assets/4149c1f0f32fb9761e1c3d2148c97f008965b993.svg" />
            </div>
            <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c6c8b9] text-[14px] text-center tracking-[0.1px] w-[min-content]"
                data-node-id="I2051:16078;163:425;7606:34748" style="font-variation-settings: 'wdth' 100;">
                Workshop
            </p>
        </div>
        <div class="basis-0 box-border content-stretch flex flex-col gap-[8px] grow h-[80px] items-center justify-center min-h-px min-w-px pb-[12px] pt-[16px] px-0 relative shrink-0"
            data-name="Item 2" data-node-id="I2051:16078;7632:23841">
            <div class="relative shrink-0 size-[24px]" data-name="Icon"
                data-node-id="I2051:16078;7632:23841;8351:24355">
                <img alt="" class="block max-w-none size-full"
                    src="http://localhost:3845/assets/e30f2025793813e54fcb61492819cfd7cfc8b145.svg" />
            </div>
            <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c6c8b9] text-[14px] text-center tracking-[0.1px] w-[min-content]"
                data-node-id="I2051:16078;7632:23841;7606:34742" style="font-variation-settings: 'wdth' 100;">
                Updates
            </p>
        </div>
        <div class="basis-0 box-border content-stretch flex flex-col gap-[8px] grow h-[80px] items-center justify-center min-h-px min-w-px pb-[12px] pt-[16px] px-0 relative shrink-0"
            data-name="Item 4" data-node-id="I2051:16078;7632:24080">
            <div class="relative shrink-0 size-[24px]" data-name="Icon"
                data-node-id="I2051:16078;7632:24080;8351:24355">
                <img alt="" class="block max-w-none size-full"
                    src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
            </div>
            <p class="font-['Roboto:Medium',sans-serif] font-medium leading-[20px] min-w-full relative shrink-0 text-[#c6c8b9] text-[14px] text-center tracking-[0.1px] w-[min-content]"
                data-node-id="I2051:16078;7632:24080;7606:34742" style="font-variation-settings: 'wdth' 100;">
                Settings
            </p>
        </div>
    </div>
</div>