<div class="bg-[#12140d] flex flex-col items-center relative w-100 h-220">
  <!-- Search / Toolbar -->
  <div class="bg-[#1a1c15] flex flex-col items-center pt-12 pb-0 px-0 relative w-full">
    <div class="flex flex-col items-center justify-center gap-1 px-4 py-2 relative w-full">
      <div class="bg-[#292b23] flex items-center justify-center pl-1 pr-4 py-1 relative w-full rounded-full">
        <div class="grid grid-cols-1 grid-rows-1 place-items-start relative">
          <div class="flex items-center justify-center ml-0 mt-0 p-3 relative">
            <div class="relative w-6 h-6">
              <img alt="" class="w-full h-full" src="http://localhost:3845/assets/276a5aeff5317ae530cfbc4c2dec85bf73f0173b.svg" />
            </div>
          </div>
        </div>
        <div class="flex-1 flex flex-row  items-center self-stretch">
          <div class="flex-1 flex gap-2 h-full items-center min-h-0 min-w-0 px-2 py-0 relative">
            <div class="flex-1 flex flex-col justify-center  h-8 min-h-0 min-w-0 relative text-[#c6c8b9] text-base leading-6 tracking-wide whitespace-nowrap">
              Search in workshop
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center p-3 relative">
          <div class="relative w-6 h-6">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/9bc07e60da7ebda56bd3ae87be2257becd66785c.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center relative w-full">
      <div class="flex-1 flex flex-col items-center justify-center min-h-0 min-w-0 px-3 py-0 relative">
        <div class="flex flex-col items-center justify-center px-0 py-3.5 relative">
          <div class="absolute bottom-1 left-1 right-1 top-0">
            <div class="absolute bg-[#b2d26b] bottom-0 h-0.75 left-0 right-0 rounded-t"></div>
          </div>
          <div class="flex flex-col items-center justify-center px-1 py-0 relative w-full">
            <p class="font-medium leading-5 relative text-[#b2d26b] text-sm text-center whitespace-pre tracking-tight">
              Charts
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center justify-center min-h-0 min-w-0 px-3 py-0 relative">
        <div class="flex flex-col items-center justify-center px-0 py-3.5 relative">
          <div class="flex flex-col items-center justify-center px-1 py-0 relative w-full">
            <p class="font-medium leading-5 relative text-[#c6c8b9] text-sm text-center whitespace-pre tracking-tight">
              Tour Passes
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center justify-center min-h-0 min-w-0 px-3 py-0 relative">
        <div class="flex flex-col items-center justify-center px-0 py-3.5 relative">
          <div class="flex flex-col items-center justify-center px-1 py-0 relative w-full">
            <p class="font-medium leading-5 relative text-[#c6c8b9] text-sm text-center whitespace-pre tracking-tight">
              Themes
            </p>
            <div class="absolute right-0 top-0 w-2 h-2">
              <img alt="" class="w-full h-full" src="http://localhost:3845/assets/857a309654ab54564a9265e2078c7f7cbf6d73b8.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center opacity-0 relative w-full">
      <div class="h-0 relative w-full">
        <div class="absolute bg-[#909284] bottom-0 h-px left-0 right-0"></div>
      </div>
    </div>
  </div>

  <!-- Filters -->
  <div class="flex gap-2 items-center pb-0 pl-4 pr-0 pt-4 relative w-full rounded-2xl">
    <div class="flex flex-col items-center justify-center px-0 py-2 relative">
      <div class="flex items-center justify-center p-1 relative">
        <div class="absolute bg-[#516526] inset-0 rounded-lg"></div>
        <div class="flex items-center justify-center pl-1 pr-0 py-0.75 relative">
          <div class="relative w-4.5 h-4.5">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/034442f23801ac66740ff3cafed1d7aabac6d1d7.svg" />
          </div>
        </div>
        <div class="flex items-center justify-center px-2 py-0.5 relative">
          <div class="flex flex-col justify-center leading-5 relative text-[#dee6c5] text-sm whitespace-pre tracking-tight">
            Weekly Rank
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center px-0 py-2 relative">
      <div class="border border-[#76786b] rounded-lg min-w-12 relative">
        <div class="flex items-center justify-center min-w-inherit p-1 rounded-inherit">
          <div class="flex items-center justify-center px-2 py-0.5 relative">
            <div class="flex flex-col justify-center leading-5 relative text-[#c6c8b9] text-sm whitespace-pre tracking-tight">
              Last updated
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center px-0 py-2 relative">
      <div class="border border-[#76786b] rounded-lg min-w-12 relative">
        <div class="flex items-center justify-center min-w-inherit p-1 rounded-inherit">
          <div class="flex items-center justify-center px-2 py-0.5 relative">
            <div class="flex flex-col justify-center leading-5 relative text-[#c6c8b9] text-sm whitespace-pre tracking-tight">
              Most downloaded
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- List -->
  <div class="flex-1 flex flex-col items-center min-h-0 min-w-0 px-0 py-2 relative w-full">
    <!-- Chart Preview 1 -->
    <div class="flex gap-4 items-start p-4 relative w-full">
      <div class="flex gap-2.5 items-center justify-center relative w-19 h-19">
        <div class="flex-1 h-full min-h-0 min-w-0 relative">
          <img alt="" class="absolute inset-0 w-full h-full object-contain" src="http://localhost:3845/assets/da298b1830ecbe0ba4da6210a14f9815641d5c7c.png" />
        </div>
        <div class="absolute bottom-0 h-10 right-0 w-9">
          <div class="absolute inset-0">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
          </div>
          <div class="absolute bottom-0 left-11/20 right--1/10 top-2.5">
            <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/171d7b63ec7ebb5460282cd86cc6866ffe8d3708.png" />
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col  items-start min-h-0 min-w-0 relative">
        <div class="flex gap-2 items-baseline relative w-full">
          <p class="font-medium leading-6 relative text-[#c8c7bf] text-base whitespace-nowrap tracking-wide">
            We Live Forever
          </p>
          <div class="h-2.625 relative w-3">
            <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/171d7b63ec7ebb5460282cd86cc6866ffe8d3708.png" />
          </div>
          <p class="flex-1  leading-4 min-h-0 min-w-0 relative text-[#c6c8b9] text-xs text-right tracking-widest">
            yesterday
          </p>
        </div>
        <p class="font-medium leading-5 min-w-full relative text-[#c8c7bf] text-sm tracking-tight text-left">
          The Prodigy
        </p>
        <div class="w-2 h-2"></div>
        <div class="flex gap-2.5 items-start pl-0 pr-12 py-0 relative w-full">
          <div class="border border-[#909284] flex gap-2 items-center pl-1.5 pr-2 py-1 relative rounded-3xl">
            <div class="flex isolate items-center pl-0 pr-1.25 py-0 relative">
              <div class="mr--1.25 rounded-full relative w-4 h-4 z-30">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded-full" src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
              </div>
            </div>
            <p class="leading-4 relative text-[#c8c7bf] text-xs whitespace-nowrap tracking-wider">
              Chart by @meninocoiso
            </p>
          </div>
        </div>
        <div class="w-2 h-2"></div>
        <div class="bg-[#3a4d10] flex gap-2 items-center px-3 py-1 relative rounded-3xl">
          <div class="relative w-4 h-4">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/34df3aa93e94953310884a82bc28e54dec313ba0.svg" />
          </div>
          <p class="leading-4 relative text-[#d4ec9e] text-xs whitespace-nowrap tracking-wider">
            Installed
          </p>
        </div>
      </div>
    </div>

    <!-- Chart Preview 2 -->
    <div class="flex gap-4 items-start opacity-50 p-4 relative w-full">
      <div class="flex gap-2.5 items-center justify-center relative w-19 h-19">
        <div class="flex-1 h-full min-h-0 min-w-0 relative">
          <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/d84f23bc209e31754f841409e3fa6b4211a3fef6.png" />
        </div>
      </div>
      <div class="flex-1 flex flex-col  items-start min-h-0 min-w-0 relative">
        <div class="flex gap-2 items-baseline relative w-full">
          <p class="font-medium leading-6 relative text-[#c8c7bf] text-base whitespace-nowrap tracking-wide">
            Mine
          </p>
          <div class="relative w-3 h-3">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/f11f90bbc8db08cd0d74e88db9f2e503fc75cee9.svg" />
          </div>
          <p class="flex-1  leading-4 min-h-0 min-w-0 relative text-[#c6c8b9] text-xs text-right tracking-widest">
            3 days ago
          </p>
        </div>
        <p class="font-medium leading-5 min-w-full relative text-[#c8c7bf] text-sm tracking-tight text-left">
          Bazzi
        </p>
        <div class="w-2 h-2"></div>
        <div class="flex gap-2.5 items-start pl-0 pr-12 py-0 relative w-full">
          <div class="border border-[#909284] flex gap-2 items-center pl-1.5 pr-2 py-1 relative rounded-3xl">
            <div class="flex isolate items-center pl-0 pr-1.25 py-0 relative">
              <div class="mr--1.25 rounded relative w-4 h-4 z-10">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded" src="http://localhost:3845/assets/120aa0f91d83859fbf4d9877469ebb3c587a4532.png" />
              </div>
              <div class="mr--1.25 rounded relative w-4 h-4 z-5">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded" src="http://localhost:3845/assets/5f57829ab0d512814acb363e55181e23b614e156.png" />
              </div>
            </div>
            <p class="leading-4 relative text-[#c8c7bf] text-xs whitespace-nowrap tracking-wider">
              Chart by @oCosmo55 and others
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart Preview 3 -->
    <div class="flex gap-4 items-start p-4 relative w-full">
      <div class="flex gap-2.5 items-center justify-center relative w-19 h-19">
        <div class="flex-1 h-full min-h-0 min-w-0 relative">
          <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/7e4c7e3fc8649dd3d0f8bb9f35277f1dcd8decfe.png" />
        </div>
        <div class="absolute bottom-0 h-10 right-0 w-9">
          <div class="absolute inset-0">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
          </div>
          <div class="absolute bottom-0 left-11/20 right--1/10 top-2.5">
            <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/171d7b63ec7ebb5460282cd86cc6866ffe8d3708.png" />
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col  items-start min-h-0 min-w-0 relative">
        <div class="flex gap-2 items-baseline relative w-full">
          <p class="font-medium leading-6 relative text-[#c8c7bf] text-base whitespace-nowrap tracking-wide">
            Overdrive
          </p>
          <p class="flex-1  leading-4 min-h-0 min-w-0 relative text-[#c6c8b9] text-xs text-right tracking-widest">
           a week ago
          </p>
        </div>
        <p class="font-medium leading-5 min-w-full relative text-[#c8c7bf] text-sm tracking-tight text-left">
          Metrik, Grafix
        </p>
        <div class="w-2 h-2"></div>
        <div class="flex gap-2.5 items-start pl-0 pr-12 py-0 relative w-full">
          <div class="border border-[#909284] flex gap-2 items-center pl-1.5 pr-2 py-1 relative rounded-3xl">
            <div class="flex isolate items-center pl-0 pr-1.25 py-0 relative">
              <div class="mr--1.25 rounded-full relative w-4 h-4 z-30">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded-full" src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
              </div>
            </div>
            <p class="leading-4 relative text-[#c8c7bf] text-xs whitespace-nowrap tracking-wider">
              Chart by @meninocoiso
            </p>
          </div>
        </div>
        <div class="w-2 h-2"></div>
        <div class="border border-[#a0d0c8] flex gap-2 items-center pl-1.5 pr-2 py-1 relative rounded-3xl">
          <div class="relative w-4 h-4">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/dbf86162dd6894a3bc0deee87a8d327767da3454.svg" />
          </div>
          <p class="leading-4 relative text-[#a0d0c8] text-xs whitespace-nowrap tracking-wider">
            Editors Choice
          </p>
        </div>
      </div>
    </div>

    <!-- Chart Preview 4 -->
    <div class="flex gap-4 items-start p-4 relative w-full">
      <div class="flex gap-2.5 items-center justify-center relative w-19 h-19">
        <div class="flex-1 h-full min-h-0 min-w-0 relative">
          <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/3f6e067e71deae171dd6b01e0b6d1d8afc8b66cb.png" />
        </div>
        <div class="absolute bottom-0 h-10 right-0 w-9">
          <div class="absolute inset-0">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
          </div>
          <div class="absolute bottom-0 left-11/20 right--1/10 top-2.5">
            <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/21621395472602cdbe1c5b44a6f43396fd7b1068.png" />
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col  items-start min-h-0 min-w-0 relative">
        <div class="flex gap-2 items-baseline relative w-full">
          <p class="font-medium leading-6 relative text-[#c8c7bf] text-base whitespace-nowrap tracking-wide">
            Go With The Flow
          </p>
          <p class="flex-1  leading-4 min-h-0 min-w-0 relative text-[#c6c8b9] text-xs text-right tracking-widest">
            2 weeks ago
          </p>
        </div>
        <p class="font-medium leading-5 min-w-full relative text-[#c8c7bf] text-sm tracking-tight text-left">
          Queens of the Stone Age
        </p>
        <div class="w-2 h-2"></div>
        <div class="flex gap-2.5 items-start pl-0 pr-12 py-0 relative w-full">
          <div class="flex-1 border border-[#909284] flex gap-2  items-center min-h-0 min-w-0 pl-1.5 pr-2 py-1 relative rounded-3xl">
            <div class="flex isolate items-center pl-0 pr-1.25 py-0 relative">
              <div class="mr--1.25 rounded-full relative w-4 h-4 z-30">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded-full" src="http://localhost:3845/assets/8ca49491c639c0d37ec0da00086ecd85e57b9254.png" />
              </div>
              <div class="mr--1.25 rounded relative w-4 h-4 z-10">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded" src="http://localhost:3845/assets/120aa0f91d83859fbf4d9877469ebb3c587a4532.png" />
              </div>
              <div class="mr--1.25 rounded relative w-4 h-4 z-5">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded" src="http://localhost:3845/assets/5f57829ab0d512814acb363e55181e23b614e156.png" />
              </div>
            </div>
            <p class="leading-4 relative text-[#c8c7bf] text-xs whitespace-nowrap tracking-wider">
              Chart by @meninocoiso...
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart Preview 5 -->
    <div class="flex gap-4 items-start p-4 relative w-full">
      <div class="flex gap-2.5 items-center justify-center relative w-19 h-19">
        <div class="flex-1 h-full min-h-0 min-w-0 relative">
          <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/60d6e59301288434e789f4445bb2e1e2cbc290f0.png" />
        </div>
        <div class="absolute bottom-0 h-10 right-0 w-9">
          <div class="absolute inset-0">
            <img alt="" class="w-full h-full" src="http://localhost:3845/assets/e8c77be91858c43b21e8a08c4279a13ba27b77fa.svg" />
          </div>
          <div class="absolute bottom-0 left-11/20 right--1/10 top-2.5">
            <img alt="" class="absolute inset-0 w-full h-full object-cover" src="http://localhost:3845/assets/21621395472602cdbe1c5b44a6f43396fd7b1068.png" />
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col  items-start min-h-0 min-w-0 relative">
        <div class="flex gap-2 items-baseline relative w-full">
          <p class="font-medium leading-6 relative text-[#c8c7bf] text-base whitespace-nowrap tracking-wide">
            What You Know
          </p>
          <p class="flex-1  leading-4 min-h-0 min-w-0 relative text-[#c6c8b9] text-xs text-right tracking-widest">
            2 weeks ago
          </p>
        </div>
        <p class="font-medium leading-5 min-w-full relative text-[#c8c7bf] text-sm tracking-tight text-left">
          Two Door Cinema Club
        </p>
        <div class="w-2 h-2"></div>
        <div class="flex gap-2.5 items-start pl-0 pr-12 py-0 relative w-full">
          <div class="border border-[#909284] flex gap-2 items-center pl-1.5 pr-2 py-1 relative rounded-3xl">
            <div class="flex isolate items-center pl-0 pr-1.25 py-0 relative">
              <div class="mr--1.25 rounded relative w-4 h-4 z-5">
                <img alt="" class="absolute inset-0 w-full h-full object-cover rounded" src="http://localhost:3845/assets/b3ba29b7d942a7e1c4958d2197261df1927f3b24.png" />
              </div>
            </div>
            <p class="leading-4 relative text-[#c8c7bf] text-xs whitespace-nowrap tracking-wider">
              Chart by @oCosmo55
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation Bar -->
  <div class="bg-[#1f201b] flex items-start justify-center pb-6 pt-0 px-0 relative w-full">
    <div class="flex-1 flex flex-col gap-2  h-20 items-center justify-center min-h-0 min-w-0 pb-3 pt-4 px-0 relative">
      <div class="absolute flex flex-col items-center justify-center left-1/2 top-0 -translate-x-1/2 translate-y-3">
        <div class="bg-[#424a31] h-8 rounded-full w-16"></div>
      </div>
      <div class="relative w-6 h-6">
        <img alt="" class="w-full h-full" src="http://localhost:3845/assets/bcd180c04619150d07d407acc2266a886c5bf588.svg" />
      </div>
      <p class="font-medium leading-5 min-w-full relative text-[#c6c8b9] text-sm text-center tracking-tight w-min">
        Workshop
      </p>
    </div>
    <div class="flex-1 flex flex-col gap-2  h-20 items-center justify-center min-h-0 min-w-0 pb-3 pt-4 px-0 relative">
      <div class="relative w-6 h-6">
        <img alt="" class="w-full h-full" src="http://localhost:3845/assets/ba93f9c844fbe807224360f3c46a93f237b7fee0.svg" />
      </div>
      <p class="font-medium leading-5 min-w-full relative text-[#c6c8b9] text-sm text-center tracking-tight w-min">
        Updates
      </p>
    </div>
    <div class="flex-1 flex flex-col gap-2  h-20 items-center justify-center min-h-0 min-w-0 pb-3 pt-4 px-0 relative">
      <div class="relative w-6 h-6">
        <img alt="" class="w-full h-full" src="http://localhost:3845/assets/6a62e07ec5afa22e68a1dd2098fee5801df7c326.svg" />
      </div>
      <p class="font-medium leading-5 min-w-full relative text-[#c6c8b9] text-sm text-center tracking-tight w-min">
        Settings
      </p>
    </div>
  </div>

  <!-- Status Bar -->
  <div class="absolute flex flex-col items-center justify-center left-5 right-0 top-0 px-5 py-3">
    <div class="h-6 relative w-full">
      <div class="absolute inset-0" style="mask-image: url('http://localhost:3845/assets/728baa1e57dee025e598dc7a32b0f9c4ea3db777.svg'); mask-size: 356.182px 13.381px; mask-position: 1.162px 3.756px;">
        <div class="absolute inset-0 mix-blend-saturation bg-red-500"></div>
        <div class="absolute inset-0 mix-blend-difference bg-white"></div>
        <div class="absolute inset-0 mix-blend-saturation bg-white"></div>
        <div class="absolute inset-0 mix-blend-overlay bg-white"></div>
        <div class="absolute inset-0 mix-blend-overlay bg-black"></div>
        <div class="absolute inset-0 mix-blend-overlay bg-white"></div>
        <div class="absolute inset-0 mix-blend-overlay bg-black"></div>
      </div>
    </div>
  </div>
</div>
