<nav class="flex flex-row items-center justify-between w-full px-24 py-9">
    <mat-icon svgIcon="logo" class="text-on-secondary-container" aria-hidden="false" aria-label="Site logo"></mat-icon>
    <ul class="flex flex-row items-center justify-center gap-4">
        <li>
            <button mat-stroked-button>Overview</button>
        </li>
        <li>
            <button mat-stroked-button>Published</button>
        </li>
        <li>
            <button mat-stroked-button>Upload</button>
        </li>
    </ul>

    <div class="flex flex-row items-center justify-end gap-4">
        <button class="flex items-center justify-center aspect-square rounded-full bg-secondary-container h-10">
            <span class="leading-none text-lg">
                <mat-icon inline="true">notifications</mat-icon>
            </span>
        </button>

        <button class="flex flex-row items-center justify-end pl-2 gap-2 bg-secondary-container h-10 rounded-full"
            type="button" [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
            <img class="rounded-full w-10 h-10" src="https://github.com/theduardomaciel.png" />
        </button>
        <mat-menu #menu="matMenu" xPosition="before" class="mt-2">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </div>
</nav>