<a
	[class]="classes()"
	[routerLink]="routerLink()"
	title="{{ this.chart().track.title }} - {{ this.chart().track.artist }}"
	tabindex="0"
>
	<app-chart-cover
		[chart]="chart()"
		[size]="size()"
		[showVisibility]="showItems().includes('visibility')"
	/>
	<div
		class="flex flex-col flex-1 items-start justify-start gap-2 relative overflow-hidden"
	>
		<div class="flex flex-col items-start justify-start gap-0.5 w-full">
			<div class="flex flex-row items-center justify-start gap-2 w-full">
				<p
					class="text-base font-semibold overflow-hidden text-ellipsis line-clamp-1"
				>
					{{ this.chart().track.title }}
				</p>
				<span class="inline-flex gap-1 items-center justify-start">
					@if (this.chart().isExplicit) {
						<ng-glyph name="explicit" class="filled-icon" />
					}
					@if (this.chart().isDeluxe) {
					<ng-icon
						name="deluxe"
						size="24"
						aria-hidden="false"
						aria-label="Deluxe icon"
					/>
					}
				</span>
			</div>
			<p class="text-sm font-medium line-clamp-1">
				{{ this.chart().track.artist }}
			</p>
		</div>
		@if (
			showItems().includes('contributors') && (this.chart().contributors.length || 0) > 0
		) {
			<div
				class="flex flex-row items-center justify-center gap-2 pl-1 py-1 md:pl-1.5 pr-2.5 md:py-1.5 rounded-full border border-outline/80"
			>
				<ul class="flex flex-row items-center justify-start">
					@for (
						contributor of this.chart().contributors;
						track contributor.user.id
					) {
						<li class="-ml-1.5 first:ml-0 w-5 h-5">
							<app-avatar
								[src]="contributor.user.avatarUrl"
								[alt]="contributor.user.username"
								[class]="
									'bg-surface-variant text-xs font-medium text-on-surface-variant w-5 h-5'
								"
							></app-avatar>
						</li>
					}
				</ul>
				<span
					class="text-xs md:text-sm text-on-surface line-clamp-1"
					title="{{ contributorsNames(chart()) }}"
				>
					Chart by {{ contributorsNames(chart()) }}
				</span>
			</div>
		} @else if (showItems().includes('data')) {
			<div
				class="flex flex-row items-center justify-start h-full w-full gap-4"
			>
				<div class="flex flex-row items-center justify-start gap-2">
					<ng-glyph name="timer" />
					<span class="line-clamp-1">{{
						transformDuration(
							this.chart().track.duration || 0
						)
					}}</span>
				</div>
				<div class="flex flex-row items-center justify-start gap-2">
					<ng-glyph name="music_note" />
					<span class="line-clamp-1"
						>{{
							this.chart().notesAmount
						}}
						notes</span
					>
				</div>
			</div>
		}
	</div>
	<ng-content select="[chartAction]"></ng-content>
	@if (showItems().includes('shareActions')) {
		<div
			class="absolute top-1/2 -translate-y-1/2 right-8 opacity-0 group-hover:opacity-100 transition-[opacity,background-color] duration-150 hidden xl:flex flex-row items-end justify-center gap-2"
		>
			<a
				matRipple
				matTooltip="Share"
				class="flex items-center justify-center rounded-full bg-surface-container-high hover:bg-surface-container-high/80 transition-colors p-2 w-10 h-10"
				[href]=""
				target="_blank"
				title="Share"
				(click)="onShare($event)"
			>
				<ng-glyph name="share" size="20" class="flex items-center justify-center" />
			</a>
			<a
				matRipple
				matTooltip="Open in Discord"
				class="flex items-center justify-center rounded-full bg-surface-container-high hover:bg-surface-container-high/80 transition-colors p-2 h-10 w-10"
				[href]="
					'https://discord.com/channels/951981656301006878/1404808964163768361/' +
					this.chart().id
				"
				target="_blank"
				title="Open in Discord"
				(click)="$event.stopPropagation()"
			>
				<ng-icon name="discord" />
			</a>
		</div>
	}
</a>
