<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
	<p>{{ data.description }}</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close="cancel" [disabled]="isLoading()">
		Cancel
	</button>
	<button
		mat-button
		cdkFocusInitial
		(click)="onSubmit()"
		[disabled]="isLoading()"
	>
		@if (isLoading()) {
			<mat-progress-spinner
				[diameter]="16"
				[mode]="'indeterminate'"
			></mat-progress-spinner>
		} @else {
			Ok
		}
	</button>
</mat-dialog-actions>
