<aside class="flex flex-col items-start justify-start gap-6 w-full">
	<!-- Edit tour pass button -->
	<button
		class="w-full"
		mat-stroked-button
		(click)="openEditDialog()"
	>
		Edit tour pass
	</button>

	<!-- Likes / Bookmarks -->
	<app-aside-section class="w-full">
		<app-aside-container
			class="w-full"
			icon="favorite"
			[info]="
				(tourpass().likedAt ? '1' : '0') +
				' likes · ' +
				(tourpass().bookmarkedAt ? '1' : '0') +
				' bookmarks'
			"
		></app-aside-container>
		<app-aside-container
			class="w-full"
			icon="download"
			[info]="tourpass().downloadsSum + ' downloads'"
		></app-aside-container>
	</app-aside-section>

	<!-- Pass info -->
	<app-aside-section title="Pass info" class="w-full">
		<app-aside-container
			class="w-full"
			icon="timer"
			[info]="transformDuration(totalDuration) + ' avg duration'"
		></app-aside-container>
		<app-aside-container
			class="w-full"
			icon="music_note"
			[info]="tracksAmount + ' tracks'"
		></app-aside-container>
	</app-aside-section>

	<!-- Files -->
	<app-aside-section title="Files" class="w-full">
		<a
			class="w-full cursor-pointer opacity-50 pointer-events-none"
			tabindex="-1"
			(title)="'Bundle download not available yet'"
		>
			<app-aside-container
				class="w-full"
				asideContainerClass="hover:bg-surface-container-low"
				icon="download"
				info="Download .zip"
			></app-aside-container>
		</a>
	</app-aside-section>
</aside>
