<nav
	class="flex flex-col md:flex-row items-start md:items-center justify-center w-full gap-6 max-md:bg-surface-container border-b-outline-variant max-md:border-b py-9 px-wrapper"
>
	<div class="flex flex-row items-center justify-between w-full">
		<div
			class="flex flex-row items-center justify-start gap-2 md:gap-4 text-on-secondary-container"
		>
			<mat-icon
				svgIcon="logo"
				aria-hidden="false"
				aria-label="Site logo"
			></mat-icon>
			<mat-icon
				svgIcon="label"
				inline
				class="select-none pointer-events-none !w-[110px] !h-[13px]"
				aria-hidden="false"
				aria-label="Site label"
			></mat-icon>
		</div>
	</div>

	<a mat-stroked-button class="!min-w-fit">
		<div class="flex flex-row items-center justify-center gap-2">
			<span
				class="flex self-center text-inherit leading-none select-none"
			>
				<mat-icon inline> download </mat-icon>
			</span>
			Download app
		</div>
	</a>
</nav>
