<nav
	class="flex flex-row flex-wrap items-center justify-between w-full gap-6 max-md:bg-surface-container border-b-outline-variant max-md:border-b py-9 px-wrapper">
	<div class="flex flex-row items-center justify-start gap-16">
		<a [routerLink]="['/']"
			class="flex flex-row items-center justify-start gap-2 md:gap-4 text-on-secondary-container">
			<mat-icon class="w-9!" inline svgIcon="logo" aria-hidden="false" aria-label="Site logo"></mat-icon>
		</a>
		<div class="flex flex-row items-center justify-start gap-9">
			<a [routerLink]="'/'" class="font-normal text-base opacity-50 hover:opacity-100 transition-opacity"
				routerLinkActive="opacity-100">Home</a>
			<a [routerLink]="'/workshop'" class="font-normal text-base opacity-50 hover:opacity-100 transition-opacity"
				routerLinkActive="opacity-100">Workshop</a>
			<a [routerLink]="'/download'" class="font-normal text-base opacity-50 hover:opacity-100 transition-opacity"
				routerLinkActive="opacity-100">Download</a>
		</div>
	</div>

	<div class="flex flex-row items-center justify-end gap-4">
		<a href="https://github.com/bscommunity" target="_blank"
			class="p-2.5 bg-surface-container outline-outline-variant rounded-md hover:bg-surface-container-high transition-colors flex items-center justify-center outline">
			<mat-icon svgIcon="github" class="w-7 h-7 text-on-secondary-containertransition-opacity" aria-hidden="false"
				aria-label="GitHub link"></mat-icon>
		</a>
		<div class="relative hidden text-on-surface md:flex">
			<mat-icon
				class="absolute top-1/2 left-0 text-xl! -translate-y-1/2 ml-3 text-on-surface opacity-50 pointer-events-none"
				aria-hidden="false" inline="" aria-label="Search icon"> search</mat-icon>
			<input type="text" placeholder="Search in workshop" id="search-input" #searchInput
				class="py-2.5 bg-surface-container outline-outline-variant rounded-md hover:bg-surface-container-high focus:bg-surface-container-high transition-colors text-on-surface outline focus:w-64 focus:placeholder:opacity-0 focus:shadow-md focus:shadow-surface-container/30 duration-300 px-10 ring-offset-0 ring-0 focus:ring-2 focus:ring-offset-2 focus:ring-primary" />
			<div
				class="px-2 py-1 text-xs font-medium bg-transparent outline-outline-variant rounded-xs  transition-colors flex items-center justify-center outline absolute top-1/2 right-0 -translate-y-1/2 mr-3 select-none">
				F
			</div>
		</div>
	</div>
</nav>