@if (embedUrl()) {
	<div
		class="relative h-full w-full group cursor-pointer rounded-[28px] overflow-hidden"
		(click)="openVideo()"
	>
		<iframe
			[src]="embedUrl()"
			[style.pointer-events]="'none'"
			class="h-full w-full object-contain rounded-[28px] cursor-pointer z-30 relative"
			allowfullscreen
		>
			<div
				class="flex items-center justify-center h-full w-full rounded-[28px] bg-on-surface/10"
			>
				<p class="text-center text-sm px-3">
					Your browser does not support iframes.
				</p>
			</div>
		</iframe>
		<div
			class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none flex items-center justify-center z-50"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-16 w-16 text-white"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
				/>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
			</svg>
		</div>
		<div
			class="flex w-full h-full absolute top-0 left-0 bg-surface-container-high animate-pulse z-20"
		></div>
	</div>
} @else {
	<div
		class="flex items-center justify-center h-full w-full rounded-[28px] bg-on-surface/10"
	>
		<p class="text-center text-sm px-3">No preview available.</p>
	</div>
}
