<div
    class="w-96 h-64 p-9 bg-surface-container-low rounded-2xl inline-flex flex-col justify-start items-start gap-6 overflow-hidden">
    <span class="text-lg"><ng-icon name="spotify" /></span>
    <div class="self-stretch flex flex-col justify-start items-start gap-2">
        <h6 class="text-on-surface-variant text-lg font-medium">
            Spotify
        </h6>
        <p class=" text-on-surface text-sm font-normal">
            Connect your account to automatically create playlists from tour passes during upload
        </p>
    </div>
    <button mat-flat-button class="min-h-10 mx-0!">
        <ng-glyph name="control_point_duplicate" />
        Connect
    </button>
</div>