<div class="relative rounded-md overflow-hidden h-[82px] w-[82px] min-w-[82px]">
	<img
		[src]="src"
		alt="Cover"
		class="w-full h-full aspect-square object-cover"
	/>
	@if (difficultyIcon) {
		<span
			class="absolute bottom-0 right-0 w-10 h-10 z-20 border-solid border-b-[40px] border-l-[40px] border-t-transparent border-r-transparent border-b-black border-l-transparent"
		>
		</span>
		<img
			class="z-30 absolute bottom-0 -right-0.5 w-6 h-6"
			[src]="difficultyIcon"
			alt="Difficulty badge icon"
		/>
	}
</div>
