@if (chart && chart.latestVersion && chart.versions && chart.contributors) {
	<main
		class="flex flex-col md:flex-row items-start justify-center w-full min-h-[calc(100vh-7rem)] px-wrapper pt-9 pb-14 gap-9 md:gap-16 relative"
	>
		<!-- Desktop aside -->
		<app-aside [chart]="chart" class="hidden md:flex md:sticky md:top-8">
		</app-aside>
		<div
			class="flex flex-col items-start justify-start gap-9 max-md:w-full flex-1"
		>
			<div class="flex flex-col items-start justify-start gap-2 relative">
				<h1 class="font-medium text-5xl leading-tight">
					<span class="mr-4">{{ chart.track }}</span>
					<span class="relative inline-flex gap-4 text-2xl h-full">
						@if (difficultyIcon) {
							<img
								class="w-8 h-8 flex md:hidden"
								[src]="difficultyIcon"
								alt="Difficulty badge icon"
							/>
						}
						@if (chart.isExplicit) {
							<mat-icon class="filled-icon" inline
								>explicit</mat-icon
							>
						}
						@if (chart.isDeluxe) {
							<mat-icon
								svgIcon="deluxe"
								class="!w-8 !h-8 relative"
								aria-label="Deluxe icon"
							></mat-icon>
						}
					</span>
				</h1>
				<h2 class="text-3xl">{{ chart.artist }}</h2>
			</div>
			<!-- Mobile "aside" -->
			<app-aside [chart]="chart" class="flex w-full md:hidden">
			</app-aside>
			<app-chart-known-issues-section
				#knownIssuesSection
				class="w-full"
				[chartId]="chart.id"
				[issues]="chart.latestVersion.knownIssues"
			></app-chart-known-issues-section>
			<app-chart-contributors-section
				#contributorsSection
				class="w-full"
				[chartId]="chart.id"
				[contributors]="chart.contributors"
			></app-chart-contributors-section>
			<app-chart-versions-section
				#versionsSection
				class="w-full"
				[chartId]="chart.id"
				[versions]="chart.versions"
			></app-chart-versions-section>
			<app-chart-danger-zone-section
				#dangerZoneSection
				class="w-full"
				[chartId]="chart.id"
				[chartName]="chart.track"
				[isPublic]="chart.isPublic"
				(visibilityChanged)="chart.isPublic = $event"
			></app-chart-danger-zone-section>
		</div>
	</main>
} @else {
	<app-error
		class="flex items-center justify-center w-full min-h-[calc(100vh-7rem)] px-wrapper pt-9 pb-14"
	></app-error>
}
