@if (chart && chart.latestVersion && chart.versions && chart.contributors) {
	<main
		class="flex flex-col md:flex-row items-start justify-center w-full min-h-[calc(100vh-7rem)] px-wrapper pt-9 pb-14 gap-9 md:gap-16 relative"
	>
		<!-- Desktop aside -->
		<app-aside [chart]="chart" class="hidden md:flex md:sticky md:top-8">
		</app-aside>
		<div
			class="flex flex-col items-start justify-start gap-9 max-md:w-full flex-1"
		>
			<div class="flex flex-col items-start justify-start gap-2 relative">
				<h1 class="font-medium text-5xl items-center inline gap-4">
					{{ chart.track }}
					<mat-icon
						svgIcon="deluxe"
						inline="true"
						class="text-on-surface !w-12 !h-12 relative"
						style="top: 8px"
						aria-hidden="false"
						aria-label="Deluxe icon"
					></mat-icon>
				</h1>
				<h2 class="text-3xl">{{ chart.artist }}</h2>
			</div>
			<!-- Mobile "aside" -->
			<app-aside [chart]="chart" class="flex w-full md:hidden">
			</app-aside>
			<app-chart-known-issues-section
				#knownIssuesSection
				class="w-full"
				[chartId]="chart.id"
				[issues]="chart.latestVersion.knownIssues"
			></app-chart-known-issues-section>
			<app-chart-contributors-section
				#contributorsSection
				class="w-full"
				[chartId]="chart.id"
				[contributors]="chart.contributors"
			></app-chart-contributors-section>
			<app-chart-versions-section
				#versionsSection
				class="w-full"
				[chartId]="chart.id"
				[versions]="chart.versions"
			></app-chart-versions-section>
			<app-chart-danger-zone-section
				#dangerZoneSection
				class="w-full"
				[chartId]="chart.id"
				[chartName]="chart.track"
			></app-chart-danger-zone-section>
		</div>
	</main>
} @else {
	error loading data
}
