@if (theme()) {
	<main
		class="flex flex-col md:flex-row items-start justify-center w-full min-h-[calc(100vh-7rem)] px-wrapper pt-9 pb-14 gap-9 md:gap-16 relative"
	>
		<!-- Desktop aside -->
		<app-aside
			[theme]="theme()!"
			(themeUpdated)="onThemeUpdated($event)"
			[replacesName]="replacesName()"
			class="hidden md:flex md:sticky md:top-8 md:w-72 xl:w-90"
		></app-aside>

		<div
			class="flex flex-col items-start justify-start gap-9 max-md:w-full flex-1"
		>
			<!-- Name / replaces -->
			<div class="flex flex-row items-start justify-between w-full gap-4">
				<div class="flex flex-col items-start justify-start gap-2">
					<h1 class="font-medium text-5xl leading-tight">
						{{ theme()!.name }}
					</h1>
					<!-- <p class="text-lg text-on-surface-variant">
						Replaces: {{ replacesName() }}
					</p> -->
					<!-- @if (theme()!.originalArtwork) {
						<p class="text-sm text-on-surface-variant">
							Original artwork: {{ theme()!.originalArtwork }}
						</p>
					} -->
				</div>
			</div>

			<!-- Mobile aside -->
			<app-aside
				[theme]="theme()!"
				(themeUpdated)="onThemeUpdated($event)"
				class="flex w-full md:hidden"
			></app-aside>

			<!-- Files section -->
			<app-theme-files-section
				class="w-full"
				[theme]="theme()!"
			></app-theme-files-section>

			<!-- Contributors section -->
			<app-theme-contributors-section
				class="w-full"
				[themeId]="theme()!.id"
				[contributors]="theme()!.contributors"
				[isOwner]="isOwner()"
			></app-theme-contributors-section>

			<!-- Versions section -->
			<app-theme-versions-section
				class="w-full"
				[themeId]="theme()!.id"
				[theme]="theme()!"
				[versions]="theme()!.versions"
			></app-theme-versions-section>

			<!-- Danger Zone -->
			<app-theme-danger-zone-section
				class="w-full"
				[themeId]="theme()!.id"
				[themeName]="theme()!.name"
				[isOwner]="isOwner()"
				[isContributor]="isContributor()"
			></app-theme-danger-zone-section>
		</div>
	</main>
} @else {
	<app-error
		class="flex items-center justify-center w-full min-h-[calc(100vh-7rem)] px-wrapper pt-9 pb-14"
	/>
}
