<div class="rounded-lg border border-inverse-on-surface overflow-hidden">
	<table
		mat-table
		[dataSource]="dataSource"
		matSort
		(matSortChange)="sortData($event)"
		[matSortDisabled]="!hasSorting().length"
		[matSortActive]="initialSortColumn()"
		[matSortDirection]="sortDirection()"
		class="mat-elevation-z8"
	>
		@for (column of columns(); track $index) {
			<ng-container [matColumnDef]="column.columnDef">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ column.header }}
				</th>
				<td
					mat-cell
					*matCellDef="let element"
					[innerHTML]="column.cell(element, $index) | safeHtml"
				></td>
			</ng-container>
		}

		@if (actions() && actions()!.length > 0) {
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Actions</th>
				<td mat-cell *matCellDef="let element; let i = index">
					<div
						class="flex flex-row items-center justify-center gap-2"
					>
						@for (action of actions(); track $index) {
							<button
								[matRippleDisabled]="
									action.disabled(i, element)
								"
								[disabled]="action.disabled(i, element)"
								[matTooltipDisabled]="
									action.disabled(i, element)
								"
								mat-ripple
								matTooltip="{{ action.description }}"
								title=""
								matTooltipPosition="above"
								matTooltipShowDelay="375"
								matTooltipClass="!text-sm"
								(click)="action.callback(i, element)"
								class="flex flex-row items-center justify-center rounded-lg p-2.5 bg-secondary-container hover:brightness-90 disabled:opacity-50"
							>
								<span
									class="text-base align-middle leading-none"
								>
									<mat-icon inline>{{
										action.icon
									}}</mat-icon>
								</span>
							</button>
						}
					</div>
				</td>
			</ng-container>
		}

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
