@if (items?.length) {
	<ul class="flex flex-col items-start justify-start w-full">
		@for (item of items; track $index) {
			<li
				class="flex flex-row items-stretch justify-between w-full last:flex-1"
			>
				<!-- Deco -->
				<div class="flex flex-col items-center mr-4">
					<div
						class="w-5 h-5 rounded-full bg-on-secondary-container"
					></div>
					<div class="w-1 flex-1 bg-on-secondary-container"></div>
				</div>
				<!-- Content -->
				<div
					class="flex flex-col items-start justify-start gap-3 pb-4 last:pb-8 w-full"
				>
					<div class="flex flex-col gap-1 w-full">
						@if (item.label) {
							<p class="font-medium">{{ item.label }}</p>
						}
						<span class="text-sm text-on-surface-variant">
							{{
								convertDateTimeToHumanReadable(
									item.date.toISOString()
								)
							}}
						</span>
					</div>
					<ul
						class="flex flex-col items-center justify-start gap-3 w-full"
					>
						@for (entry of getChartActivities(item); track $index) {
							<app-chart-preview
								class="w-full"
								[chart]="entry.chart!"
								[showItems]="['contributors']"
								(click)="chartClick.emit(entry.chart!)"
								(keydown.enter)="chartClick.emit(entry.chart!)"
								(keydown.space)="chartClick.emit(entry.chart!)"
							>
								@if (getActionIcon(entry.type)) {
									<mat-icon chartAction>{{ getActionIcon(entry.type) }}</mat-icon>
								}
							</app-chart-preview>
						}
					</ul>
					@if (getUserActivities(item).length > 0) {
						<div
							class="flex flex-col items-start justify-start gap-2 w-full"
						>
							@for (
								entry of getUserActivities(item);
								track $index
							) {
								<p class="text-sm text-on-surface-variant">
									{{ formatUserInfo(entry.user) }}
								</p>
							}
						</div>
					}
				</div>
			</li>
		}
	</ul>
} @else {
	<p class="text-sm text-on-surface-variant w-full text-center py-8">
		No recent activity yet.
	</p>
}
