<app-chart-section class="w-full" title="Files">
	<app-table
		class="w-full"
		[columns]="filesColumns"
		[data]="fileRows()"
		[actions]="filesActions"
	/>
	@if (!hasLoadedBundle()) {
		<span class="flex items-center justify-end w-full">
			<button
				mat-stroked-button
				(click)="loadRemainingFiles()"
				[disabled]="isLoadingBundle()"
			>
				@if (isLoadingBundle()) {
					<mat-progress-spinner
						[diameter]="16"
						mode="indeterminate"
					></mat-progress-spinner>
				} @else {
					<ng-glyph name="folder_zip" />
					Load remaining files
				}
			</button>
		</span>
	}
</app-chart-section>
