<aside class="flex flex-col items-start justify-start gap-6 w-full">
	<div class="absolute top-0 left-0 md:relative w-full max-md:-z-10">
		<div class="relative overflow-hidden md:rounded-lg">
			<img
				class="w-full opacity-50 md:opacity-100 md:w-72 xl:w-96 aspect-square"
				[src]="chart.coverUrl"
				[alt]="chart.track"
			/>
			<app-difficulty-mark
				class="hidden md:flex"
				[difficulty]="chart.difficulty"
				[size]="96"
			></app-difficulty-mark>
		</div>
		<div
			class="flex md:hidden absolute bottom-0 left-0 h-24 w-full bg-gradient-to-b from-transparent to-background"
		></div>
	</div>
	<app-aside-section class="w-full">
		<button
			class="w-full cursor-pointer"
			type="button"
			(click)="openEditChartDialog()"
		>
			<app-aside-container
				class="w-full"
				icon="edit"
				info="Edit chart"
				asideContainerClass="hover:bg-surface-container-low"
			></app-aside-container>
		</button>
	</app-aside-section>
	<app-aside-section title="Chart Info" class="w-full">
		<app-aside-container
			class="w-full"
			icon="timer"
			[info]="transformDuration(chart.latestVersion.duration || 0)"
		></app-aside-container>
		<app-aside-container
			class="w-full"
			icon="music_note"
			[info]="chart.latestVersion.notesAmount + ' notes'"
		></app-aside-container>
	</app-aside-section>
	<app-aside-section title="Files" class="w-full">
		<a
			class="w-full cursor-pointer"
			[href]="chart.coverUrl"
			target="_blank"
			download
		>
			<app-aside-container
				class="w-full"
				asideContainerClass="hover:bg-surface-container-low"
				info="Download .zip"
			></app-aside-container>
		</a>
	</app-aside-section>
</aside>
