<li class="flex flex-col items-start justify-start w-full">
	<div class="flex flex-row items-center justify-between gap-4 mb-2 w-full">
		<span class="flex flex-row items-center justify-start gap-4">
			<app-avatar
				[src]="user().avatarUrl"
				[alt]="user().username"
			></app-avatar>
			<span class="text-base font-medium">{{ user().username }}</span>
		</span>
		@if (!disabled()) {
			<button
				mat-icon-button
				(click)="remove.emit(user().id)"
				[disabled]="disabled()"
			>
				<ng-glyph name="close" />
			</button>
		}
	</div>
	<div class="flex w-full h-px rounded-full bg-outline-variant mb-3"></div>
	<app-contributor-tags
		[userId]="user().id"
		[roles]="roles()"
		[availableRoles]="availableRoles()"
		[disabled]="disabled()"
	>
	</app-contributor-tags>
</li>
