<main
	class="flex flex-col items-center justify-center gap-9 w-full min-h-[calc(100vh-7rem)]"
>
	<h1 class="font-bold text-4xl">Work in progress!</h1>
	<p>This page still needs some work. Please check back later.</p>
	<span class="flex flex-row items-center justify-center gap-2">
		<mat-icon class="text-on-primary-container">code</mat-icon>
		<p>
			You can
			<a
				class="underline text-on-primary-container"
				href="https://github.com/"
				target="_blank"
				>contribute</a
			>
			and make the project better.
		</p>
	</span>
</main>
