// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./styles/_theme-colors.scss" as theme-colors;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$angular-material-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme-colors.$primary-palette,
			tertiary: theme-colors.$tertiary-palette,
		),
		typography: (
			use-system-variables: true,
		),
		density: (
			scale: 0,
		),
	)
);

html {
	@include mat.theme($angular-material-theme);
	/* @include mat.typography-hierarchy($angular-material-theme);
	@include mat.system-level-typography($angular-material-theme); */
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
	background: var(--mat-sys-background);
	color: var(--mat-sys-on-surface);
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}

.stamp-effect {
	mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
	-webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
	mask-size: 944px 604px;
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
}

:root {
	--wrapper: 1.5rem;
}

@media (min-width: 1024px) {
	:root {
		--wrapper: 6rem;
	}
}
