<app-public-header></app-public-header>
<main
	class="flex flex-col items-start justify-center gap-wrapper md:gap-12 w-full min-h-screen px-wrapper py-wrapper md:py-12 text-base font-normal leading-5"
>
	<header
		class="flex flex-col items-start justify-start gap-9 md:max-w-[65%]"
	>
		<h1 class="font-medium text-5xl md:text-6xl">Privacy Policy</h1>
		<p>
			Hello, community!<br />
			This app was lovingly developed by a community member, created for
			all of us to share fun and authentic content. <br />
			Here, we explain in simple terms how we handle the data and links
			you share.
		</p>
	</header>

	<div class="flex w-full h-[1px] bg-surface-container-high"></div>

	<app-terms-template
		class="w-full"
		baseUrl="/privacy-policy"
		[sections]="sections"
	></app-terms-template>

	<app-large-panel
		class="w-full"
		title="Read the terms and conditions but still got questions?"
		message="Join our Discord to stay in the loop and chat with people who can clear things up for you!"
		[button]="{ label: 'Discord', link: '/' }"
	></app-large-panel>
</main>
