<h2 mat-dialog-title>Add contributor</h2>
<mat-dialog-content class="!flex flex-col gap-4">
	<p>Tag some creators to add them to your chart credits</p>
	<app-contributor-search
		[existingUserIds]="[...data.usersIds, ...poolUsers().map((u) => u.id)]"
		(userAdded)="onUserAdded($event)"
	/>
	<app-contributor-list
		[users]="poolUsers()"
		[roles]="roles"
		[availableRoles]="availableRoles"
		[canRemove]="true"
		(userRemoved)="removeContributor($event)"
	/>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close="cancel" [disabled]="isLoading()">
		Cancel
	</button>
	<button
		mat-button
		(click)="onSubmit()"
		[disabled]="
			poolUsers().length < 1 ||
			allContributorsHaveAtLeastOneRole() === false ||
			isLoading()
		"
	>
		@if (isLoading()) {
			<mat-progress-spinner
				[diameter]="16"
				[mode]="'indeterminate'"
			></mat-progress-spinner>
		} @else {
			Save
		}
	</button>
</mat-dialog-actions>
